Repository getsentry/sentry-options: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, mypy

rustfmt:
  name: format rust code
  language: system
  entry: rustfmt --edition=2024

mypy:
  name: mypy
  entry: .venv/bin/mypy
  language: system

remove target from configmap filename
  .claude/skills/onboard/SKILL.md
  docs/integration-guide.md
  examples/README.md
  sentry-options-cli/src/output.rs
Due: rustfmt

forgot an instance of target
  sentry-options-cli/src/main.rs
Due: rustfmt

suppress missing dir errors with env var (#73)
  sentry-options-validation/src/lib.rs
Due: rustfmt

feat(deployment): Remove target from configmap filename (#74)
  .claude/skills/onboard/SKILL.md
  docs/integration-guide.md
  examples/README.md
  sentry-options-cli/src/main.rs
  sentry-options-cli/src/output.rs
Due: rustfmt

release: 0.0.12
  .github/actions/validate-schema/action.yml
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  clients/python/pyproject.toml
Due: none

musl binary but manylinux python
  .craft.yml
  .github/workflows/main.yml
Due: none

run ci
  .github/workflows/main.yml
Due: none

undo changes to make ci run
  .github/workflows/main.yml
Due: none

fix(ci): musl binary but manylinux python (#75)
  .craft.yml
  .github/workflows/main.yml
Due: none

release: 0.0.13
  .github/actions/validate-schema/action.yml
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  clients/python/pyproject.toml
Due: none

adds checking for array items
  sentry-options-cli/src/schema_evolution.rs
  sentry-options-validation/src/lib.rs
Due: rustfmt

version bump, additional properties false
  clients/python/uv.lock
  sentry-options-validation/src/namespace-schema.json
Due: none

fix a linting error
  sentry-options-cli/src/schema_evolution.rs
Due: rustfmt

regenerate the uv lock on release
  scripts/bump-version.sh
Due: none

ermmm
  .github/actions/validate-schema/action.yml
Due: none

chore(release): Regenerate the uv lock on release + update composite action to use musl (#76)
  .github/actions/validate-schema/action.yml
  scripts/bump-version.sh
Due: none

add option usage check
  sentry-options-cli/src/main.rs
  sentry-options-cli/src/option_usage.rs
Due: rustfmt

adds action
  .github/workflows/main.yml
  .github/workflows/validate-schema.yml
Due: none

rename job
  .github/workflows/validate-schema.yml
Due: none

bump
  .github/workflows/validate-schema.yml
Due: none

update skills for rust
  .claude/skills/add-option/SKILL.md
  .claude/skills/onboard/SKILL.md
Due: none

report deletions with flag
  sentry-options-cli/src/main.rs
  sentry-options-cli/src/schema_evolution.rs
Due: rustfmt

fail early
  .github/workflows/validate-schema.yml
Due: none

conditionally run steps only in a pull request
  .github/workflows/validate-schema.yml
Due: none

feat(validation): Adds supports for lists of primitives (#69)
  .claude/skills/add-option/SKILL.md
  .claude/skills/onboard/SKILL.md
  clients/python/src/lib.rs
  clients/python/tests/options_test.py
  clients/python/uv.lock
  docs/architecture.md
  docs/integration-guide.md
  sentry-options-cli/src/schema_evolution.rs
  sentry-options-validation/src/lib.rs
  sentry-options-validation/src/namespace-schema.json
Due: rustfmt, mypy

Remove deprecated sentry_options_old and associated test/config artifacts
  .pre-commit-config.yaml
  AGENTS.md
  pyproject.toml
  sentry_options_old/__init__.py
  sentry_options_old/api.py
  sentry_options_old/mypy_plugin.py
  sentry_options_old/schema/__init__.py
  sentry_options_old/schema/_option.py
  sentry_options_old/schema/sentry.py
  sentry_options_old/schema/testing.py
  sentry_options_old/testing.py
  sentry_options_old/validate_type.py
  sentry_options_old/write.py
  testing/__init__.py
  testing/option_group.py
  tests-typing/api.py
  tests-typing/errors.py
  tests/__init__.py
  tests/api_test.py
  tests/testing_test.py
  tests/validate_type_test.py
  tests/write_test.py
  tox.ini
Due: mypy

Clean up root pyproject.toml, remove tox, fix CI
  .github/workflows/main.yml
  pyproject.toml
  tox.ini
  uv.lock
Due: none

Add mypy back to root dev dependencies
  pyproject.toml
  uv.lock
Due: none

Remove pre-commit mypy hook and mypy from root dev deps
  .pre-commit-config.yaml
  pyproject.toml
  uv.lock
Due: none

chore: Remove old python code (#81)
  .github/workflows/main.yml
  .pre-commit-config.yaml
  AGENTS.md
  pyproject.toml
  sentry_options_old/__init__.py
  sentry_options_old/api.py
  sentry_options_old/mypy_plugin.py
  sentry_options_old/schema/__init__.py
  sentry_options_old/schema/_option.py
  sentry_options_old/schema/sentry.py
  sentry_options_old/schema/testing.py
  sentry_options_old/testing.py
  sentry_options_old/validate_type.py
  sentry_options_old/write.py
  testing/__init__.py
  testing/option_group.py
  tests-typing/api.py
  tests-typing/errors.py
  tests/__init__.py
  tests/api_test.py
  tests/testing_test.py
  tests/validate_type_test.py
  tests/write_test.py
  tox.ini
  uv.lock
Due: mypy

update docs (#70)
  .claude/skills/add-option/SKILL.md
  .claude/skills/onboard/SKILL.md
  docs/integration-guide.md
Due: none

typo
  sentry-options-cli/src/main.rs
Due: rustfmt

feat(cli): Add option usage check (#77)
  sentry-options-cli/src/main.rs
  sentry-options-cli/src/option_usage.rs
Due: rustfmt

temporarily change schema
  sentry-options/schemas/sentry-options-testing/schema.json
Due: none

add back the default
  sentry-options/schemas/sentry-options-testing/schema.json
Due: none

eprintln informational work
  sentry-options-cli/src/main.rs
  sentry-options-cli/src/schema_evolution.rs
Due: rustfmt

add back demo option
  sentry-options/schemas/sentry-options-testing/schema.json
Due: none

feat(cli): Output deletions with flag (#79)
  sentry-options-cli/src/main.rs
  sentry-options-cli/src/schema_evolution.rs
Due: rustfmt

fix merge conflict issue
  sentry-options-cli/src/main.rs
  sentry-options-cli/src/schema_evolution.rs
Due: rustfmt

fix merge conflict issue (#82)
  sentry-options-cli/src/main.rs
  sentry-options-cli/src/schema_evolution.rs
Due: rustfmt

Path conditions:
  rustfmt: any of: \.rs$
  mypy: any of: \.py$
