Repository getsentry/sentry-options: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, mypy

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
    -   id: check-yaml
    -   id: check-json
    -   id: check-toml
    -   id: check-executables-have-shebangs
    -   id: check-merge-conflict
    -   id: check-case-conflict
    -   id: debug-statements
    -   id: double-quote-string-fixer
    -   id: name-tests-test
    - id: end-of-file-fixer
      exclude_types: [svg]
    - id: trailing-whitespace
      exclude_types: [svg]
    - id: check-added-large-files
      args: ['--maxkb=1024']
-   repo: https://github.com/asottile/reorder-python-imports
    rev: v3.15.0
    hooks:
    -   id: reorder-python-imports
        args: [--py312-plus, --add-import, 'from __future__ import annotations']
-   repo: https://github.com/asottile/add-trailing-comma
    rev: v3.2.0
    hooks:
    -   id: add-trailing-comma
-   repo: https://github.com/asottile/pyupgrade
    rev: v3.20.0
    hooks:
    -   id: pyupgrade
        args: [--py312-plus]
-   repo: https://github.com/hhatto/autopep8
    rev: v2.3.2
    hooks:
    -   id: autopep8
-   repo: https://github.com/PyCQA/flake8
    rev: 7.3.0
    hooks:
    -   id: flake8
-   repo: local
    hooks:
    - id: rustfmt
      name: format rust code
      language: system
      types: [rust]
      # keep edition in sync with Cargo.toml
      # There is no way to run cargo fmt for specific files,
      # rustfmt can do it but doesn't read Cargo.toml.
      # https://github.com/rust-lang/rustfmt/issues/4485
      entry: rustfmt --edition=2024
    - id: mypy
      name: mypy
      entry: .venv/bin/mypy
      language: system
      types: [python]

feat(tracing): Replace println/eprintln with tracing (#116)
  Cargo.lock
  Cargo.toml
  clients/rust/Cargo.toml
  clients/rust/src/features.rs
  sentry-options-cli/Cargo.toml
  sentry-options-cli/src/main.rs
  sentry-options-cli/src/schema_evolution.rs
  sentry-options-cli/src/schema_retriever.rs
  sentry-options-validation/Cargo.toml
  sentry-options-validation/src/lib.rs
Due: rustfmt

add id hash stability check
  clients/rust/src/features.rs
Due: rustfmt

rollout parity
  clients/rust/src/features.rs
Due: rustfmt

return Option so we can differentiate between doesnt match and cant match
  clients/rust/src/features.rs
Due: rustfmt

compare in with vectors (#159)
  clients/rust/src/features.rs
  docs/architecture.md
Due: rustfmt

feat(flags): Make number comparison type agnostic (#160)
  clients/rust/src/features.rs
Due: rustfmt

fix rollout bucketing parity, evals returning Option, adding test
  clients/rust/src/features.rs
Due: rustfmt

fix some of the docs
  clients/rust/src/features.rs
  docs/architecture.md
Due: rustfmt

fix(flags): Miscellaneous feature flag parity fixes (#162)
  clients/rust/src/features.rs
  docs/architecture.md
Due: rustfmt

release: 1.2.3
  .github/workflows/validate-schema.yml
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  clients/python/pyproject.toml
  clients/python/uv.lock
Due: none

add experiment mode top level key to feature flag def
  sentry-options-validation/src/feature-schema-defs.json
  sentry-options-validation/src/lib.rs
Due: rustfmt

add experiment mode top level key to feature flag def (#163)
  sentry-options-validation/src/feature-schema-defs.json
  sentry-options-validation/src/lib.rs
Due: rustfmt

release: 1.2.4
  .github/workflows/validate-schema.yml
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  clients/python/pyproject.toml
  clients/python/uv.lock
Due: none

make it possible to supply additional in memory schemas
  clients/python/python/sentry_options/_core.pyi
  clients/python/src/lib.rs
  clients/rust/src/lib.rs
  sentry-options-validation/src/lib.rs
Due: rustfmt

add test
  clients/python/tests/schemas_test.py
Due: mypy

simplify layering logic
  clients/rust/src/lib.rs
Due: rustfmt

shorten docs
  clients/python/python/sentry_options/_core.pyi
  clients/python/src/lib.rs
  clients/rust/src/lib.rs
  docs/architecture.md
  sentry-options-validation/src/lib.rs
Due: rustfmt

expose feature_property() for getsentry
  clients/python/python/sentry_options/__init__.py
  clients/python/python/sentry_options/_core.pyi
  clients/python/src/lib.rs
  clients/rust/src/lib.rs
  sentry-options-validation/src/lib.rs
Due: rustfmt, mypy

ci: Replace secrets: inherit with explicit secret in validate-schema-changes
  .github/workflows/main.yml
Due: none

ci: Replace secrets: inherit with explicit secret in validate-schema-changes (#166)
  .github/workflows/main.yml
Due: none

schemas to additional_schemas
  clients/python/python/sentry_options/_core.pyi
  clients/python/src/lib.rs
  clients/python/tests/schemas_test.py
  docs/architecture.md
Due: rustfmt, mypy

feat(init): Optionally load additionally schemas from memory (#164)
  clients/python/python/sentry_options/_core.pyi
  clients/python/src/lib.rs
  clients/python/tests/schemas_test.py
  clients/rust/src/lib.rs
  docs/architecture.md
  sentry-options-validation/src/lib.rs
Due: rustfmt, mypy

expose feature_property() for getsentry (#165)
  clients/python/python/sentry_options/__init__.py
  clients/python/python/sentry_options/_core.pyi
  clients/python/src/lib.rs
  clients/rust/src/lib.rs
  sentry-options-validation/src/lib.rs
Due: rustfmt, mypy

release: 1.2.5
  .github/workflows/validate-schema.yml
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  clients/python/pyproject.toml
  clients/python/uv.lock
Due: none

relax timezone regex
  sentry-options-validation/src/feature-schema-defs.json
Due: none

enable flexible pattern matched features
  sentry-options-validation/src/lib.rs
  sentry-options-validation/src/namespace-schema.json
Due: rustfmt

add docs
  docs/architecture.md
  docs/options.md
Due: none

feat(flags): Enable open, pattern matched features (#168)
  docs/architecture.md
  docs/options.md
  sentry-options-validation/src/lib.rs
  sentry-options-validation/src/namespace-schema.json
Due: rustfmt

release: 1.2.6
  .github/workflows/validate-schema.yml
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  clients/python/pyproject.toml
  clients/python/uv.lock
Due: none

include try has
  clients/python/python/sentry_options/_core.pyi
  clients/python/src/lib.rs
  clients/python/tests/features_test.py
  clients/rust/src/features.rs
  clients/rust/src/lib.rs
Due: rustfmt, mypy

include try has (#169)
  clients/python/python/sentry_options/_core.pyi
  clients/python/src/lib.rs
  clients/python/tests/features_test.py
  clients/rust/src/features.rs
  clients/rust/src/lib.rs
Due: rustfmt, mypy

release: 1.2.7
  .github/workflows/validate-schema.yml
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  clients/python/pyproject.toml
  clients/python/uv.lock
Due: none

feat: add snapshot diff refresh callbacks
  clients/python/python/sentry_options/__init__.py
  clients/python/python/sentry_options/_core.pyi
  clients/python/src/lib.rs
  clients/python/tests/propagation_test.py
  clients/rust/src/lib.rs
  docs/architecture.md
  docs/setup.md
  sentry-options-validation/src/lib.rs
Due: rustfmt, mypy

pc
  clients/python/src/lib.rs
  uv.lock
Due: rustfmt

fix: serialize snapshot diff refreshes
  docs/architecture.md
  sentry-options-validation/src/lib.rs
Due: rustfmt

style: satisfy rustfmt
  sentry-options-validation/src/lib.rs
Due: rustfmt

perf: compute snapshot diffs on demand
  docs/architecture.md
  sentry-options-validation/src/lib.rs
Due: rustfmt

revert: remove snapshot diff callbacks
  clients/python/python/sentry_options/__init__.py
  clients/python/python/sentry_options/_core.pyi
  clients/python/src/lib.rs
  clients/python/tests/propagation_test.py
  clients/rust/src/lib.rs
  docs/architecture.md
  docs/setup.md
  sentry-options-validation/src/lib.rs
Due: rustfmt, mypy

idk
  clients/python/python/sentry_options/_core.pyi
  clients/python/src/lib.rs
  clients/python/tests/options_test.py
  clients/rust/src/lib.rs
  docs/options.md
Due: rustfmt, mypy

revert: remove option snapshot API
  clients/python/python/sentry_options/_core.pyi
  clients/python/src/lib.rs
  clients/python/tests/options_test.py
  clients/rust/src/lib.rs
  docs/options.md
Due: rustfmt, mypy
