Repository getsentry/sentry-options: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, mypy

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
    -   id: check-yaml
    -   id: check-json
    -   id: check-toml
    -   id: check-executables-have-shebangs
    -   id: check-merge-conflict
    -   id: check-case-conflict
    -   id: debug-statements
    -   id: double-quote-string-fixer
    -   id: name-tests-test
    - id: end-of-file-fixer
      exclude_types: [svg]
    - id: trailing-whitespace
      exclude_types: [svg]
    - id: check-added-large-files
      args: ['--maxkb=1024']
-   repo: https://github.com/asottile/reorder-python-imports
    rev: v3.15.0
    hooks:
    -   id: reorder-python-imports
        args: [--py312-plus, --add-import, 'from __future__ import annotations']
-   repo: https://github.com/asottile/add-trailing-comma
    rev: v3.2.0
    hooks:
    -   id: add-trailing-comma
-   repo: https://github.com/asottile/pyupgrade
    rev: v3.20.0
    hooks:
    -   id: pyupgrade
        args: [--py312-plus]
-   repo: https://github.com/hhatto/autopep8
    rev: v2.3.2
    hooks:
    -   id: autopep8
-   repo: https://github.com/PyCQA/flake8
    rev: 7.3.0
    hooks:
    -   id: flake8
-   repo: local
    hooks:
    - id: rustfmt
      name: format rust code
      language: system
      types: [rust]
      # keep edition in sync with Cargo.toml
      # There is no way to run cargo fmt for specific files,
      # rustfmt can do it but doesn't read Cargo.toml.
      # https://github.com/rust-lang/rustfmt/issues/4485
      entry: rustfmt --edition=2024
    - id: mypy
      name: mypy
      entry: .venv/bin/mypy
      language: system
      types: [python]

allow a top level yaml definitions key
  docs/architecture.md
  docs/options.md
  sentry-options-cli/src/loader.rs
  sentry-options-cli/src/main.rs
Due: rustfmt

allow a top level yaml definitions key (#171)
  docs/architecture.md
  docs/options.md
  sentry-options-cli/src/loader.rs
  sentry-options-cli/src/main.rs
Due: rustfmt

unescape colon
  sentry-options-validation/src/feature-schema-defs.json
Due: none

feat(experiments): POC salted multi-arm experiment construct
  clients/rust/src/experiments.rs
  clients/rust/src/lib.rs
Due: rustfmt

fix(schema): Allow timezones in schema regex (#167)
  sentry-options-validation/src/feature-schema-defs.json
Due: none

release: 1.2.8
  .github/workflows/validate-schema.yml
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  clients/python/pyproject.toml
  clients/python/uv.lock
Due: none

fix(experiments): Address review feedback on v0 spike
  clients/rust/src/experiments.rs
  clients/rust/src/lib.rs
Due: rustfmt

allow our library to follow symlinks
  clients/python/uv.lock
  sentry-options-cli/src/loader.rs
  sentry-options-cli/src/main.rs
  uv.lock
Due: rustfmt

also follow symlinks in option usage check
  sentry-options-cli/src/option_usage.rs
Due: rustfmt

feat(cli): Adds the ability to follow symlinks (#173)
  clients/python/uv.lock
  sentry-options-cli/src/loader.rs
  sentry-options-cli/src/main.rs
  sentry-options-cli/src/option_usage.rs
  uv.lock
Due: rustfmt

release: 1.2.9
  .github/workflows/validate-schema.yml
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  clients/python/pyproject.toml
  clients/python/uv.lock
Due: none

feat(validation): Add experiment definitions with layer checks
  sentry-options-validation/src/experiment-schema-defs.json
  sentry-options-validation/src/experiments.rs
  sentry-options-validation/src/lib.rs
  sentry-options-validation/src/namespace-schema.json
Due: rustfmt

docs: Document experiments
  AGENTS.md
  README.md
  docs/architecture.md
  docs/experiments.md
  docs/options.md
Due: none

feat(client): Add layered experiment assignment
  clients/rust/Cargo.toml
  clients/rust/benches/experiments_bench.rs
  clients/rust/src/experiments.rs
  clients/rust/src/lib.rs
  clients/rust/src/testing.rs
Due: rustfmt

feat(python): Expose experiments with layers and assignment records
  clients/python/python/sentry_options/__init__.py
  clients/python/python/sentry_options/_core.pyi
  clients/python/python/sentry_options/testing.py
  clients/python/src/lib.rs
  clients/python/tests/experiments_test.py
  docs/experiments.md
  sentry-options/schemas/sentry-options-testing/schema.json
  sentry-options/values/sentry-options-testing/values.json
Due: rustfmt, mypy

test(cli): Add experiment values to the YAML fixture
  sentry-options/options/sentry-options-testing/default/base.yaml
Due: none

fix(experiments): Reject overlapping overrides and harden assignment
  clients/python/src/lib.rs
  clients/python/tests/experiments_test.py
  clients/rust/src/experiments.rs
  clients/rust/src/lib.rs
  clients/rust/src/testing.rs
  docs/experiments.md
  sentry-options-validation/src/experiments.rs
Due: rustfmt, mypy

fix(experiments): Tidy validation rules and share issue formatting
  sentry-options-validation/src/experiment-schema-defs.json
  sentry-options-validation/src/experiments.rs
  sentry-options-validation/src/lib.rs
Due: rustfmt

fix(experiments): Validate override batches as a whole with rollback
  clients/python/python/sentry_options/testing.py
  clients/python/src/lib.rs
  clients/rust/src/lib.rs
  clients/rust/src/testing.rs
Due: rustfmt, mypy

fix(experiments): Emit unit as a list and trim the API surface
  clients/python/python/sentry_options/_core.pyi
  clients/python/tests/experiments_test.py
  clients/rust/src/experiments.rs
  docs/experiments.md
Due: rustfmt, mypy

feat(python): expose standalone schema validation
  clients/python/python/sentry_options/__init__.py
  clients/python/python/sentry_options/_core.pyi
  clients/python/src/lib.rs
  clients/python/tests/schema_registry_test.py
  clients/rust/src/lib.rs
  sentry-options-validation/src/lib.rs
Due: rustfmt, mypy

use readonly bot for workflow
  .github/workflows/validate-schema.yml
  docs/setup.md
Due: none

use readonly bot
  .github/workflows/main.yml
Due: none

SEC-1901: use readonly bot for workflow (#176)
  .github/workflows/main.yml
  .github/workflows/validate-schema.yml
  docs/setup.md
Due: none

test(python): order schema registry test imports
  clients/python/tests/schema_registry_test.py
Due: mypy

feat(python): expose standalone schema validation (#175)
  clients/python/python/sentry_options/__init__.py
  clients/python/python/sentry_options/_core.pyi
  clients/python/src/lib.rs
  clients/python/tests/schema_registry_test.py
  clients/rust/src/lib.rs
  sentry-options-validation/src/lib.rs
Due: rustfmt, mypy

release: 1.2.10
  .github/workflows/validate-schema.yml
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  clients/python/pyproject.toml
  clients/python/uv.lock
Due: none

feat: expose schema fetching from client libraries
  Cargo.lock
  clients/python/python/sentry_options/__init__.py
  clients/python/python/sentry_options/_core.pyi
  clients/python/src/lib.rs
  clients/python/tests/fetch_schemas_test.py
  clients/rust/Cargo.toml
  clients/rust/src/lib.rs
  clients/rust/src/schema_fetch.rs
  docs/architecture.md
  sentry-options-cli/Cargo.toml
  sentry-options-cli/src/main.rs
  sentry-options-cli/src/repo_schema_config.rs
  sentry-options-cli/src/schema_retriever.rs
Due: rustfmt, mypy

fix: satisfy client formatting checks
  clients/python/src/lib.rs
  clients/python/tests/fetch_schemas_test.py
  clients/rust/src/schema_fetch.rs
Due: rustfmt, mypy

fix: order schema fetch test imports
  clients/python/tests/fetch_schemas_test.py
Due: mypy

docs: clarify schema fetch repository pins
  clients/rust/src/schema_fetch.rs
Due: rustfmt

feat: expose schema fetching from client libraries (#178)
  Cargo.lock
  clients/python/python/sentry_options/__init__.py
  clients/python/python/sentry_options/_core.pyi
  clients/python/src/lib.rs
  clients/python/tests/fetch_schemas_test.py
  clients/rust/Cargo.toml
  clients/rust/src/lib.rs
  clients/rust/src/schema_fetch.rs
  docs/architecture.md
  sentry-options-cli/Cargo.toml
  sentry-options-cli/src/main.rs
  sentry-options-cli/src/repo_schema_config.rs
  sentry-options-cli/src/schema_retriever.rs
Due: rustfmt, mypy

release: 1.2.11
  .github/workflows/validate-schema.yml
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  clients/python/pyproject.toml
  clients/python/uv.lock
Due: none

fix: add version to sentry-options cli dependency
  Cargo.toml
  sentry-options-cli/Cargo.toml
Due: none

chore(deps): bump pyo3 from 0.27.2 to 0.29.2
  Cargo.lock
  clients/python/Cargo.toml
Due: none

expose a way to get feature metadata
  clients/python/python/sentry_options/__init__.py
  clients/python/python/sentry_options/_core.pyi
  clients/python/src/lib.rs
  clients/python/tests/features_test.py
  clients/rust/src/features.rs
  clients/rust/src/lib.rs
  docs/options.md
  sentry-options/values/sentry-options-testing/values.json
Due: rustfmt, mypy

feat(experiments): Add layered multi-arm experiments
  .github/workflows/main.yml
  AGENTS.md
  Cargo.lock
  README.md
  clients/python/Cargo.toml
  clients/python/python/sentry_options/__init__.py
  clients/python/python/sentry_options/_core.pyi
  clients/python/python/sentry_options/testing.py
  clients/python/src/lib.rs
  clients/python/tests/experiments_e2e_test.py
  clients/python/tests/experiments_test.py
  clients/rust/Cargo.toml
  clients/rust/benches/experiments_bench.rs
  clients/rust/src/experiments.rs
  clients/rust/src/lib.rs
  clients/rust/src/testing.rs
  docs/architecture.md
  docs/experiments.md
  docs/options.md
  sentry-options-cli/Cargo.toml
  sentry-options-cli/tests/experiments_e2e.rs
  sentry-options-validation/Cargo.toml
  sentry-options-validation/src/experiment-schema-defs.json
  sentry-options-validation/src/experiments.rs
  sentry-options-validation/src/lib.rs
  sentry-options-validation/src/namespace-schema.json
  sentry-options/options/sentry-options-testing/default/base.yaml
  sentry-options/schemas/sentry-options-testing/schema.json
  sentry-options/values/sentry-options-testing/values.json
Due: rustfmt, mypy

docs(experiments): Explain revisions versus a new experiment name
  clients/python/tests/experiments_test.py
  clients/rust/src/experiments.rs
  docs/experiments.md
Due: rustfmt, mypy

feat(experiments): Allow allocations as small as one slot
  clients/python/tests/experiments_test.py
  docs/experiments.md
  sentry-options-validation/src/experiment-schema-defs.json
  sentry-options-validation/src/experiments.rs
Due: rustfmt, mypy

fix(experiments): Reject oversized ints in experiment context
  clients/python/src/lib.rs
  clients/python/tests/experiments_test.py
  docs/experiments.md
Due: rustfmt, mypy
