Repository getsentry/sentry-options: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, mypy

rustfmt:
  name: format rust code
  language: system
  entry: rustfmt --edition=2024

mypy:
  name: mypy
  entry: .venv/bin/mypy
  language: system

fixes feature flag recognition to work with isset and overrides (#150)
  clients/python/python/sentry_options/testing.py
  clients/python/tests/options_override_test.py
  clients/rust/src/lib.rs
  clients/rust/src/testing.rs
  sentry-options-validation/src/lib.rs
Due: rustfmt, mypy

allow rust client to use force get
  clients/rust/src/lib.rs
  sentry-options-validation/src/lib.rs
Due: rustfmt

python parity
  clients/python/python/sentry_options/_core.pyi
  clients/python/src/lib.rs
  clients/python/tests/propagation_test.py
Due: rustfmt, mypy

use get_forced in our own tests
  clients/python/tests/propagation_test.py
Due: mypy

hardcode feature flag related stuff (#149)
  sentry-options-gen-stubs/__init__.py
  sentry-options/sentry_options/__init__.pyi
  tests/gen_stubs_test.py
Due: mypy

fix merge conflict oops
  docs/setup.md
Due: none

update
  docs/setup.md
Due: none

add file filter as well
  docs/setup.md
Due: none

simplify
  docs/setup.md
Due: none

fix
  docs/setup.md
Due: none

fix yq deprecation warn
  docs/setup.md
Due: none

update docs
  docs/options.md
Due: none

add some extra comments
  docs/options.md
Due: none

feat(client): Add a `get_forced` function to bypass the 5s staleness window (#151)
  clients/python/python/sentry_options/_core.pyi
  clients/python/src/lib.rs
  clients/python/tests/propagation_test.py
  clients/rust/src/lib.rs
  docs/options.md
  sentry-options-validation/src/lib.rs
Due: rustfmt, mypy

docs: update workflow setup (#152)
  docs/setup.md
Due: none

feat(client): Use builder for rust `init()` (#146)
  clients/python/src/lib.rs
  clients/rust/src/lib.rs
  docs/architecture.md
  docs/options.md
  docs/setup.md
  examples/rust/src/main.rs
Due: rustfmt

release: 1.2.0
  .github/workflows/validate-schema.yml
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  clients/python/pyproject.toml
  clients/python/uv.lock
Due: none

feat(client): Expose builder `build()` to construct `Options` without the global store
  clients/rust/src/lib.rs
Due: rustfmt

feat(client): Accept a closure directly in `with_callback`
  clients/rust/src/lib.rs
Due: rustfmt

feat(client): Add `Options::builder()` as the builder entry point
  clients/rust/src/lib.rs
  docs/architecture.md
  docs/options.md
  docs/setup.md
Due: rustfmt

feat(client): Improve the Options builder interface (#153)
  clients/rust/src/lib.rs
  docs/architecture.md
  docs/options.md
  docs/setup.md
Due: rustfmt

release: 1.2.1
  .github/workflows/validate-schema.yml
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  clients/python/pyproject.toml
  clients/python/uv.lock
Due: none

update docs to include always_on() and always_off() testing utilities
  docs/options.md
Due: none

update docs to include always_on() and always_off() testing utilities (#154)
  docs/options.md
Due: none

feat(cli): guard object-valued map shapes in schema evolution
  docs/architecture.md
  sentry-options-cli/src/schema_evolution.rs
Due: rustfmt

feat: Add manual refresh and configurable refresh threshold
  clients/python/python/sentry_options/__init__.py
  clients/python/python/sentry_options/_core.pyi
  clients/python/src/lib.rs
  clients/python/tests/conftest.py
  clients/python/tests/propagation_test.py
  clients/python/tests/refresh_test.py
  clients/rust/src/lib.rs
  docs/architecture.md
  sentry-options-validation/src/lib.rs
Due: rustfmt, mypy

feat: Restore ValuesStore constructors, deprecate callback variant
  sentry-options-validation/src/lib.rs
Due: rustfmt

fix: Precommit
  clients/python/tests/propagation_test.py
  clients/python/tests/refresh_test.py
Due: mypy

update setup.md as well
  docs/setup.md
Due: none

feat: Add manual refresh and configurable refresh threshold (#156)
  clients/python/python/sentry_options/__init__.py
  clients/python/python/sentry_options/_core.pyi
  clients/python/src/lib.rs
  clients/python/tests/conftest.py
  clients/python/tests/propagation_test.py
  clients/python/tests/refresh_test.py
  clients/rust/src/lib.rs
  docs/architecture.md
  docs/setup.md
  sentry-options-validation/src/lib.rs
Due: rustfmt, mypy

feat: add --configmap-name override to write, for shared-cluster targets
  sentry-options-cli/src/main.rs
  sentry-options-cli/src/output.rs
Due: rustfmt

optional suffix to config map
  sentry-options-cli/src/main.rs
  sentry-options-cli/src/output.rs
Due: rustfmt

fix validation as well
  sentry-options-cli/src/output.rs
  sentry-options-validation/src/lib.rs
Due: rustfmt

fix docs as well
  docs/architecture.md
Due: none

feat(cli): Adds ability to append optional suffix to configmap (#158)
  docs/architecture.md
  sentry-options-cli/src/main.rs
  sentry-options-cli/src/output.rs
  sentry-options-validation/src/lib.rs
Due: rustfmt

release: 1.2.2
  .github/workflows/validate-schema.yml
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  clients/python/pyproject.toml
  clients/python/uv.lock
Due: none

compare in with vectors
  clients/rust/src/features.rs
  docs/architecture.md
Due: rustfmt

type agnostic number comparison
  clients/rust/src/features.rs
Due: rustfmt

feat(tracing): Replace println/eprintln with tracing
  Cargo.lock
  Cargo.toml
  clients/rust/Cargo.toml
  clients/rust/src/features.rs
  sentry-options-cli/Cargo.toml
  sentry-options-cli/src/main.rs
  sentry-options-cli/src/schema_evolution.rs
  sentry-options-cli/src/schema_retriever.rs
  sentry-options-validation/Cargo.toml
  sentry-options-validation/src/lib.rs
Due: rustfmt

Path conditions:
  rustfmt: any of: \.rs$
  mypy: any of: \.py$
