Repository getsentry/sentry-options: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, mypy

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
    -   id: check-yaml
    -   id: check-json
    -   id: check-toml
    -   id: check-executables-have-shebangs
    -   id: check-merge-conflict
    -   id: check-case-conflict
    -   id: debug-statements
    -   id: double-quote-string-fixer
    -   id: name-tests-test
    - id: end-of-file-fixer
      exclude_types: [svg]
    - id: trailing-whitespace
      exclude_types: [svg]
    - id: check-added-large-files
      args: ['--maxkb=1024']
-   repo: https://github.com/asottile/reorder-python-imports
    rev: v3.15.0
    hooks:
    -   id: reorder-python-imports
        args: [--py312-plus, --add-import, 'from __future__ import annotations']
-   repo: https://github.com/asottile/add-trailing-comma
    rev: v3.2.0
    hooks:
    -   id: add-trailing-comma
-   repo: https://github.com/asottile/pyupgrade
    rev: v3.20.0
    hooks:
    -   id: pyupgrade
        args: [--py312-plus]
-   repo: https://github.com/hhatto/autopep8
    rev: v2.3.2
    hooks:
    -   id: autopep8
-   repo: https://github.com/PyCQA/flake8
    rev: 7.3.0
    hooks:
    -   id: flake8
-   repo: local
    hooks:
    - id: rustfmt
      name: format rust code
      language: system
      types: [rust]
      # keep edition in sync with Cargo.toml
      # There is no way to run cargo fmt for specific files,
      # rustfmt can do it but doesn't read Cargo.toml.
      # https://github.com/rust-lang/rustfmt/issues/4485
      entry: rustfmt --edition=2024
    - id: mypy
      name: mypy
      entry: .venv/bin/mypy
      language: system
      types: [python]

remove rust feature flag
  .github/workflows/main.yml
  clients/python/src/lib.rs
  clients/rust/Cargo.toml
  clients/rust/src/lib.rs
  clients/rust/src/testing.rs
  clients/rust/tests/override_validation.rs
Due: rustfmt

update docs to reflect override of options
  docs/architecture.md
  docs/integration-guide.md
Due: none

update docs again for rust
  docs/architecture.md
  docs/integration-guide.md
Due: none

feat: Add feature flag schema support
  sentry-options-validation/src/feature-schema-defs.json
  sentry-options-validation/src/lib.rs
  sentry-options-validation/src/namespace-schema.json
Due: rustfmt

feat: Add feature flags to schema
  sentry-options-validation/src/lib.rs
  sentry-options-validation/src/namespace-schema.json
Due: rustfmt

more simple
  sentry-options-validation/src/lib.rs
Due: rustfmt

Remove redundant definitions
  sentry-options-validation/src/namespace-schema.json
Due: none

Remove pointless test
  sentry-options-validation/src/lib.rs
Due: rustfmt

Fix namespace validation
  sentry-options-validation/src/lib.rs
  sentry-options-validation/src/namespace-schema.json
Due: rustfmt

Tighten up schema more
  sentry-options-validation/src/namespace-schema.json
Due: none

use envoy injector to mount configmaps (#90)
  .claude/skills/onboard/SKILL.md
  docs/integration-guide.md
Due: none

Make features prefix -> feature to be consistent with existing config
  sentry-options-validation/src/lib.rs
  sentry-options-validation/src/namespace-schema.json
Due: rustfmt

Implement features() and FeatureChecker in python
  clients/python/src/lib.rs
  clients/python/tests/conftest.py
  clients/python/tests/features_test.py
  clients/python/tests/options_test.py
  clients/rust/src/features.rs
Due: rustfmt, mypy

Fix tests
  clients/python/tests/features_test.py
Due: mypy

Add sha1 package
  Cargo.lock
  Cargo.toml
  clients/rust/Cargo.toml
Due: none

Features should default to enabled=false
  sentry-options-validation/src/feature-schema-defs.json
Due: none

Implement features() and FeatureChecker
  clients/rust/src/features.rs
  clients/rust/src/lib.rs
Due: rustfmt

Fix clippy warnings
  clients/rust/src/features.rs
Due: rustfmt

Tweak rollout rate comparison
  clients/rust/src/features.rs
Due: rustfmt

Add num dep
  Cargo.lock
  clients/rust/Cargo.toml
Due: none

cargo fmt
  clients/rust/src/features.rs
Due: rustfmt

Fix feature key prefix, panic on zero hash, and remove debug macro
  clients/python/tests/conftest.py
  clients/rust/src/features.rs
Due: rustfmt, mypy

Fix key names in conftest.
  clients/python/tests/conftest.py
Due: mypy

Remove dbg! and fix potential panic
  clients/rust/src/features.rs
Due: rustfmt

adds object support
  clients/python/src/lib.rs
  clients/python/tests/options_test.py
  docs/architecture.md
  sentry-options-cli/src/schema_evolution.rs
  sentry-options-validation/src/lib.rs
  sentry-options-validation/src/namespace-schema.json
  sentry-options/schemas/sentry-options-testing/schema.json
Due: rustfmt, mypy

fix precommit failures
  clients/python/tests/options_test.py
  sentry-options-cli/src/schema_evolution.rs
  sentry-options-validation/src/lib.rs
Due: rustfmt, mypy

address clippy
  sentry-options-validation/src/lib.rs
Due: rustfmt

how are there still issues
  sentry-options-validation/src/lib.rs
Due: rustfmt

feat(testing): Option Overrides for testing (#50)
  .envrc
  .github/workflows/main.yml
  .gitignore
  clients/python/Cargo.toml
  clients/python/pyproject.toml
  clients/python/python/sentry_options/__init__.py
  clients/python/python/sentry_options/testing.py
  clients/python/src/lib.rs
  clients/python/tests/conftest.py
  clients/python/tests/options_override_test.py
  clients/python/tests/options_test.py
  clients/rust/src/lib.rs
  clients/rust/src/testing.rs
  clients/rust/tests/override_validation.rs
  docs/architecture.md
  docs/integration-guide.md
  examples/python/main.py
  examples/values/sentry-options-testing/values.json
  sentry-options-validation/src/lib.rs
  sentry-options/schemas/sentry-options-testing/schema.json
  sentry-options/values/sentry-options-testing/values.json
Due: rustfmt, mypy

as serde value
  clients/python/src/lib.rs
  clients/rust/src/features.rs
  clients/rust/src/lib.rs
Due: rustfmt

enable optional struct properties
  docs/architecture.md
  sentry-options-validation/src/lib.rs
  sentry-options-validation/src/namespace-schema.json
Due: rustfmt

enable optional struct properties (#95)
  docs/architecture.md
  sentry-options-validation/src/lib.rs
  sentry-options-validation/src/namespace-schema.json
Due: rustfmt

remove old fixture
  clients/python/tests/options_test.py
Due: mypy

address overrides reverse mapping
  clients/python/src/lib.rs
Due: rustfmt

feat(core): Adds object support (#93)
  clients/python/src/lib.rs
  clients/python/tests/options_test.py
  docs/architecture.md
  sentry-options-cli/src/schema_evolution.rs
  sentry-options-validation/src/lib.rs
  sentry-options-validation/src/namespace-schema.json
  sentry-options/schemas/sentry-options-testing/schema.json
Due: rustfmt, mypy

release: 0.0.15
  .github/actions/validate-schema/action.yml
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  clients/python/pyproject.toml
  clients/python/uv.lock
Due: none

Remove redundant block
  sentry-options-validation/src/lib.rs
Due: rustfmt

Restore additionalProperties
  sentry-options-validation/src/namespace-schema.json
Due: none

Update comment.
  sentry-options-validation/src/lib.rs
Due: rustfmt
