Repository getsentry/sentry-options: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, mypy

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
    -   id: check-yaml
    -   id: check-json
    -   id: check-toml
    -   id: check-executables-have-shebangs
    -   id: check-merge-conflict
    -   id: check-case-conflict
    -   id: debug-statements
    -   id: double-quote-string-fixer
    -   id: name-tests-test
    - id: end-of-file-fixer
      exclude_types: [svg]
    - id: trailing-whitespace
      exclude_types: [svg]
    - id: check-added-large-files
      args: ['--maxkb=1024']
-   repo: https://github.com/asottile/reorder-python-imports
    rev: v3.15.0
    hooks:
    -   id: reorder-python-imports
        args: [--py312-plus, --add-import, 'from __future__ import annotations']
-   repo: https://github.com/asottile/add-trailing-comma
    rev: v3.2.0
    hooks:
    -   id: add-trailing-comma
-   repo: https://github.com/asottile/pyupgrade
    rev: v3.20.0
    hooks:
    -   id: pyupgrade
        args: [--py312-plus]
-   repo: https://github.com/hhatto/autopep8
    rev: v2.3.2
    hooks:
    -   id: autopep8
-   repo: https://github.com/PyCQA/flake8
    rev: 7.3.0
    hooks:
    -   id: flake8
-   repo: local
    hooks:
    - id: rustfmt
      name: format rust code
      language: system
      types: [rust]
      # keep edition in sync with Cargo.toml
      # There is no way to run cargo fmt for specific files,
      # rustfmt can do it but doesn't read Cargo.toml.
      # https://github.com/rust-lang/rustfmt/issues/4485
      entry: rustfmt --edition=2024
    - id: mypy
      name: mypy
      entry: .venv/bin/mypy
      language: system
      types: [python]

add uv setup step in release
  .github/workflows/release.yml
Due: none

add uv setup step in release (#83)
  .github/workflows/release.yml
Due: none

release: 0.0.14
  .github/actions/validate-schema/action.yml
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  clients/python/pyproject.toml
  clients/python/uv.lock
Due: none

pinned to shas
  .github/workflows/validate-schema.yml
Due: none

Update readme for features().
  README.md
Due: none

Add dependencies for features feature
  Cargo.lock
  Cargo.toml
  clients/rust/Cargo.toml
Due: none

First pass with claude
  clients/rust/src/features.rs
  clients/rust/src/lib.rs
Due: rustfmt

Fix and expand tests
  clients/rust/src/features.rs
Due: rustfmt

Fix order in readme
  README.md
Due: none

Simplify tests and prepare for python library support
  clients/rust/src/features.rs
  clients/rust/src/lib.rs
Due: rustfmt

Add python library and tests.
  clients/python/src/lib.rs
  clients/python/tests/conftest.py
  clients/python/tests/features_test.py
  clients/python/tests/options_test.py
Due: rustfmt, mypy

Update readme with setup instructions for python lib
  README.md
Due: none

Fix clippy warnings
  clients/rust/src/features.rs
Due: rustfmt

Update docs for features()
  docs/architecture.md
Due: none

Refactor logic into struct methods
  clients/rust/src/features.rs
  clients/rust/src/lib.rs
Due: rustfmt

More refactoring to methods
  clients/rust/src/features.rs
Due: rustfmt

Deserialize fewer attributes
  clients/rust/src/features.rs
Due: rustfmt

Fix comments and expand test coverage
  clients/rust/src/features.rs
  clients/rust/src/lib.rs
Due: rustfmt

Fix clippy
  clients/rust/src/features.rs
Due: rustfmt

feat: Add isset()
  clients/python/src/lib.rs
  clients/python/tests/options_test.py
  clients/rust/src/lib.rs
Due: rustfmt, mypy

Fix clippy
  clients/rust/src/lib.rs
Due: rustfmt

Make isset() raise when undefined options/namespaces are used.
  clients/python/src/lib.rs
  clients/python/tests/options_test.py
  clients/rust/src/lib.rs
Due: rustfmt, mypy

Fix tests
  clients/python/tests/options_test.py
  clients/rust/src/lib.rs
Due: rustfmt, mypy

Use docstring comment
  clients/rust/src/lib.rs
Due: rustfmt

feat: Add isset() (#85)
  clients/python/src/lib.rs
  clients/python/tests/options_test.py
  clients/rust/src/lib.rs
Due: rustfmt, mypy

remove secret inheritance
  .github/workflows/main.yml
Due: none

feat(ci): Migrate `validate-schema` composite action to become reusable workflow and include deletion check (#78)
  .github/workflows/main.yml
  .github/workflows/validate-schema.yml
Due: none

should fail validation
  sentry-options/schemas/sentry-options-testing/schema.json
Due: none

rerun
  sentry-options/schemas/sentry-options-testing/schema.json
Due: none

should fail
  sentry-options/schemas/sentry-options-testing/schema.json
Due: none

remove the old valiation scheme to fix ci failures
  .github/workflows/validate-schema.yml
Due: none

remove the old valiation scheme to fix ci failures (#88)
  .github/workflows/validate-schema.yml
Due: none

fix tests
  clients/python/tests/options_test.py
Due: mypy

simplify python logic
  clients/python/python/sentry_options/testing.py
  clients/python/src/lib.rs
  clients/python/tests/options_test.py
  sentry-options/schemas/sentry-options-testing/schema.json
Due: rustfmt, mypy

remove reusable call and just pull locally
  .github/workflows/main.yml
  .github/workflows/validate-schema.yml
Due: none

this should fail
  sentry-options/schemas/sentry-options-testing/schema.json
Due: none

this should pass i think?
  sentry-options/schemas/sentry-options-testing/schema.json
Due: none

reset the schema back to original
  sentry-options/schemas/sentry-options-testing/schema.json
Due: none

fix(ci): Use local checkout for deletion validation (#89)
  .github/workflows/main.yml
  .github/workflows/validate-schema.yml
Due: none

use envoy injector to mount configmaps
  .claude/skills/onboard/SKILL.md
  docs/integration-guide.md
Due: none
