Repository getsentry/sentry-options: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, mypy

rustfmt:
  name: format rust code
  language: system
  entry: rustfmt --edition=2024

mypy:
  name: mypy
  entry: .venv/bin/mypy
  language: system

add tests and add missing store
  sentry-options-validation/src/lib.rs
Due: rustfmt

local is alive
  sentry-options-validation/src/lib.rs
Due: rustfmt

simplify map_or
  sentry-options-validation/src/lib.rs
Due: rustfmt

introduce global options rust
  clients/rust/src/lib.rs
Due: rustfmt

dont fail if values directory doesnt exist
  clients/rust/src/lib.rs
  sentry-options-validation/src/lib.rs
Due: rustfmt

assign watcher
  clients/rust/src/lib.rs
Due: rustfmt

add todo
  sentry-options-validation/src/lib.rs
Due: rustfmt

feat(validator): Add File Watcher Struct (#19)
  clients/rust/src/lib.rs
  sentry-options-validation/src/lib.rs
Due: rustfmt

namespaceoptions should always be static
  clients/rust/src/lib.rs
Due: rustfmt

example rust usage
  Cargo.lock
  Cargo.toml
  example/Cargo.toml
  example/schemas/testing/schema.json
  example/src/main.rs
  example/values/testing/values.json
Due: rustfmt

moved folders and used constructor
  Cargo.toml
  example/rust/.cargo/config.toml
  example/rust/Cargo.toml
  example/rust/src/main.rs
Due: rustfmt

fix lint
  clients/rust/src/lib.rs
Due: rustfmt

feat(client): Introduce global options rust (#20)
  clients/rust/src/lib.rs
Due: rustfmt

initial python client
  .pre-commit-config.yaml
  Cargo.lock
  Cargo.toml
  clients/python/Cargo.toml
  clients/python/pyproject.toml
  clients/python/src/lib.rs
  example/python/main.py
  example/schemas/testing/schema.json
  example/values/testing/values.json
Due: rustfmt, mypy

use new options init
  example/rust/.cargo/config.toml
  example/rust/src/main.rs
Due: rustfmt

don't ignore
  example/rust/src/main.rs
Due: rustfmt

pluralized example folder
  examples/rust/Cargo.toml
  examples/rust/src/main.rs
  examples/schemas/testing/schema.json
  examples/values/testing/values.json
Due: rustfmt

follow up
  clients/python/Cargo.toml
  clients/python/src/lib.rs
Due: rustfmt

update path
  Cargo.toml
Due: none

feat(client): Example Rust Usage (#21)
  Cargo.lock
  Cargo.toml
  examples/rust/Cargo.toml
  examples/rust/src/main.rs
  examples/schemas/testing/schema.json
  examples/values/testing/values.json
Due: rustfmt

moved files
  .pre-commit-config.yaml
  example/schemas/testing/schema.json
  example/values/testing/values.json
  examples/python/main.py
Due: mypy

add python tests
  .github/workflows/main.yml
  .pre-commit-config.yaml
  clients/python/pyproject.toml
  clients/python/tests/options_test.py
  clients/python/uv.lock
Due: mypy

fix typo and add matrix
  .github/workflows/main.yml
  .pre-commit-config.yaml
Due: none

try setting working dir
  .github/workflows/main.yml
Due: none

remove dir
  .github/workflows/main.yml
Due: none

try this
  .github/workflows/main.yml
Due: none

add maturin to dev depenednecies
  clients/python/pyproject.toml
  clients/python/uv.lock
Due: none

bump action setup venv
  .github/workflows/main.yml
Due: none

bump comment version of action setup venv
  .github/workflows/main.yml
Due: none

feat(clients): Initial Python Client (#22)
  .github/workflows/main.yml
  .pre-commit-config.yaml
  Cargo.lock
  Cargo.toml
  clients/python/Cargo.toml
  clients/python/pyproject.toml
  clients/python/src/lib.rs
  clients/python/tests/options_test.py
  clients/python/uv.lock
  examples/python/main.py
Due: rustfmt, mypy

rename sentry options new
  clients/python/Cargo.toml
  clients/python/pyproject.toml
  clients/python/src/lib.rs
  clients/python/tests/options_test.py
  examples/python/main.py
  pyproject.toml
  sentry_options_old/__init__.py
  sentry_options_old/api.py
  sentry_options_old/mypy_plugin.py
  sentry_options_old/schema/__init__.py
  sentry_options_old/schema/_option.py
  sentry_options_old/schema/sentry.py
  sentry_options_old/schema/testing.py
  sentry_options_old/testing.py
  sentry_options_old/validate_type.py
  sentry_options_old/write.py
  testing/option_group.py
  tests-typing/api.py
  tests-typing/errors.py
  tests/api_test.py
  tests/testing_test.py
  tests/validate_type_test.py
  tests/write_test.py
Due: rustfmt, mypy

update uv.lock
  uv.lock
Due: none

feat(client): Rename sentry options new (#23)
  clients/python/Cargo.toml
  clients/python/pyproject.toml
  clients/python/src/lib.rs
  clients/python/tests/options_test.py
  examples/python/main.py
  pyproject.toml
  sentry_options_old/__init__.py
  sentry_options_old/api.py
  sentry_options_old/mypy_plugin.py
  sentry_options_old/schema/__init__.py
  sentry_options_old/schema/_option.py
  sentry_options_old/schema/sentry.py
  sentry_options_old/schema/testing.py
  sentry_options_old/testing.py
  sentry_options_old/validate_type.py
  sentry_options_old/write.py
  testing/option_group.py
  tests-typing/api.py
  tests-typing/errors.py
  tests/api_test.py
  tests/testing_test.py
  tests/validate_type_test.py
  tests/write_test.py
  uv.lock
Due: rustfmt, mypy

add rust publishing
  .craft.yml
  Cargo.toml
  clients/python/Cargo.toml
  clients/rust/Cargo.toml
  examples/rust/Cargo.toml
  scripts/bump-version.sh
  sentry-options-cli/Cargo.toml
Due: none

switch to perl to support linux and mac
  scripts/bump-version.sh
Due: none

add python release files
  .craft.yml
  scripts/bump-version.sh
Due: none

update build step to target client
  .github/workflows/main.yml
  scripts/bump-version.sh
Due: none

build for other versions
  .github/workflows/main.yml
Due: none

use abi3 for stable version compatiblity
  .github/workflows/main.yml
  clients/python/Cargo.toml
Due: none

use uv instead of pip
  .github/workflows/main.yml
Due: none

Path conditions:
  rustfmt: any of: \.rs$
  mypy: any of: \.py$
