Repository getsentry/sentry-options: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, mypy

rustfmt:
  name: format rust code
  language: system
  entry: rustfmt --edition=2024

mypy:
  name: mypy
  entry: .venv/bin/mypy
  language: system

feat: Add sentry-options-sync sidecar and injector-based Minikube harness
  Cargo.lock
  Cargo.toml
  Makefile
  examples/minikube_propagation/Dockerfile
  examples/minikube_propagation/README.md
  examples/minikube_propagation/driver.py
  examples/minikube_propagation/probe.py
  examples/minikube_propagation/schemas/getsentry-features/schema.json
  examples/minikube_propagation/schemas/getsentry/schema.json
  sentry-options-sync/Cargo.toml
  sentry-options-sync/Dockerfile
  sentry-options-sync/Dockerfile.dockerignore
  sentry-options-sync/src/main.rs
  sentry-options-sync/src/writer.rs
Due: rustfmt, mypy

feat(sync): Emit generation_to_write from the sync sidecar
  Cargo.lock
  examples/minikube_propagation/README.md
  examples/minikube_propagation/driver.py
  sentry-options-sync/Cargo.toml
  sentry-options-sync/src/main.rs
  sentry-options-sync/src/metrics.rs
Due: rustfmt, mypy

docs(flags): Clarify rollout bucketing comments
  clients/rust/src/features.rs
  docs/architecture.md
  sentry-options-validation/src/feature-schema-defs.json
Due: rustfmt

refactor(flags): Set feature names during JSON parsing
  clients/rust/src/features.rs
Due: rustfmt

test(flags): Use explicit feature name cases for hash parity
  clients/rust/src/features.rs
Due: rustfmt

refactor(flags): Compare rollout cutoff by UTC date
  clients/rust/src/features.rs
  docs/architecture.md
  docs/options.md
Due: rustfmt

docs(flags): Drop created_at offset detail from architecture doc
  docs/architecture.md
Due: none

feat(cli): Add eval command for checking a feature flag against a context
  clients/rust/src/features.rs
  clients/rust/src/lib.rs
  docs/options.md
  sentry-options-cli/src/eval.rs
  sentry-options-cli/src/main.rs
Due: rustfmt

ref(cli): Evaluate flags through the public FeatureChecker API
  clients/rust/src/features.rs
  clients/rust/src/lib.rs
  sentry-options-cli/src/eval.rs
  sentry-options-cli/tests/eval.rs
Due: rustfmt

ref(cli): Simplify eval setup and trim tests
  sentry-options-cli/src/eval.rs
  sentry-options-cli/tests/eval.rs
Due: rustfmt

test(flags): Document pinned bucket values instead of linking closed PR
  clients/rust/src/features.rs
Due: rustfmt

fix(flags): Log the rollout bucket used for feature evaluation
  clients/rust/src/features.rs
Due: rustfmt

feat(flags): Bucket rollouts by feature name for new flags (#184)
  Cargo.lock
  clients/python/tests/features_test.py
  clients/rust/Cargo.toml
  clients/rust/benches/features_bench.rs
  clients/rust/src/features.rs
  docs/architecture.md
  docs/options.md
  sentry-options-validation/src/feature-schema-defs.json
  sentry-options/schemas/sentry-options-testing/schema.json
  sentry-options/values/sentry-options-testing/values.json
Due: rustfmt, mypy

release: 1.2.12
  .github/workflows/validate-schema.yml
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  clients/python/pyproject.toml
  clients/python/uv.lock
Due: none

feat(features): Expose the condition operators the evaluator understands
  Cargo.lock
  Cargo.toml
  clients/python/python/sentry_options/__init__.py
  clients/python/python/sentry_options/_core.pyi
  clients/python/src/lib.rs
  clients/rust/Cargo.toml
  clients/rust/src/features.rs
  clients/rust/src/lib.rs
Due: rustfmt, mypy

ref(features): Drop strum for a plain operator list
  Cargo.lock
  Cargo.toml
  clients/python/src/lib.rs
  clients/rust/Cargo.toml
  clients/rust/src/features.rs
Due: rustfmt

error handling
  sentry-options-cli/src/eval.rs
Due: rustfmt

feat(features): Expose the condition operators the evaluator understands (#191)
  clients/python/python/sentry_options/__init__.py
  clients/python/python/sentry_options/_core.pyi
  clients/python/src/lib.rs
  clients/rust/src/features.rs
  clients/rust/src/lib.rs
Due: rustfmt, mypy

feat(cli): Add eval command for checking a feature flag against a context (#192)
  docs/options.md
  sentry-options-cli/src/eval.rs
  sentry-options-cli/src/main.rs
  sentry-options-cli/tests/eval.rs
Due: rustfmt

release: 1.2.13
  .github/workflows/validate-schema.yml
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  clients/python/pyproject.toml
  clients/python/uv.lock
Due: none

add how to delete an option
  docs/options.md
Due: none

add how to delete an option (#193)
  docs/options.md
Due: none

values diff cli command
  docs/options.md
  sentry-options-cli/src/diff.rs
  sentry-options-cli/src/main.rs
  sentry-options-cli/src/output.rs
Due: rustfmt

cleaning up the code
  docs/options.md
  sentry-options-cli/src/diff.rs
  sentry-options-cli/src/loader.rs
  sentry-options-cli/src/main.rs
Due: rustfmt

edit some tests and nomenclature
  docs/options.md
  sentry-options-cli/src/diff.rs
Due: rustfmt

add deleted targets diff as well
  docs/options.md
  sentry-options-cli/src/diff.rs
Due: rustfmt

feat(cli): Diff command for options values [DI-1638] (#194)
  docs/options.md
  sentry-options-cli/src/diff.rs
  sentry-options-cli/src/loader.rs
  sentry-options-cli/src/main.rs
  sentry-options-cli/src/output.rs
Due: rustfmt

release: 1.2.14
  .github/workflows/validate-schema.yml
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  clients/python/pyproject.toml
  clients/python/uv.lock
Due: none

ci: upgrade macos-14 runners to macos-15
  .github/workflows/main.yml
Due: none

ci: upgrade macos-14 runners to macos-15 (#195)
  .github/workflows/main.yml
Due: none

Path conditions:
  rustfmt: any of: \.rs$
  mypy: any of: \.py$
