Repository getsentry/sentry-options: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, mypy

rustfmt:
  name: format rust code
  language: system
  entry: rustfmt --edition=2024

mypy:
  name: mypy
  entry: .venv/bin/mypy
  language: system

Features should default to enabled=false
  sentry-options-validation/src/feature-schema-defs.json
Due: none

Remove dbg! and fix potential panic
  clients/rust/src/features.rs
Due: rustfmt

Tweak rollout rate comparison
  clients/rust/src/features.rs
Due: rustfmt

Fix bad merge
  clients/python/tests/conftest.py
Due: mypy

Fix clippy warnings
  clients/rust/src/features.rs
Due: rustfmt

Fix tests
  clients/python/tests/features_test.py
Due: mypy

Add missing imports
  clients/python/python/sentry_options/__init__.py
Due: mypy

ContextValue -> serde_json::Value (#94)
  clients/python/src/lib.rs
  clients/rust/src/features.rs
  clients/rust/src/lib.rs
Due: rustfmt

Move feature schema/values into fixture files
  clients/python/tests/conftest.py
  sentry-options/schemas/sentry-options-testing/schema.json
  sentry-options/values/sentry-options-testing/values.json
Due: mypy

feat: Add feature flag checking for rust and python (#92)
  Cargo.lock
  Cargo.toml
  clients/python/python/sentry_options/__init__.py
  clients/python/src/lib.rs
  clients/python/tests/conftest.py
  clients/python/tests/features_test.py
  clients/rust/Cargo.toml
  clients/rust/src/features.rs
  clients/rust/src/lib.rs
  sentry-options-validation/src/feature-schema-defs.json
  sentry-options/schemas/sentry-options-testing/schema.json
  sentry-options/values/sentry-options-testing/values.json
Due: rustfmt, mypy

fix(feature) Expand readme and update defaults
  README.md
  clients/python/python/sentry_options/_core.pyi
  clients/rust/src/features.rs
  docs/architecture.md
  sentry-options-validation/src/feature-schema-defs.json
Due: rustfmt

oops commit file path
  .pre-commit-hooks.yaml
  sentry-options-gen-stubs/__init__.py
Due: mypy

new path and stub
  .pre-commit-hooks.yaml
  sentry-options-gen-stubs/__init__.py
  sentry-options/sentry_options/__init__.pyi
Due: mypy

remove old stubs directory
  .pre-commit-config.yaml
  sentry-options-gen-stubs/__init__.py
  stubs/sentry_options/__init__.pyi
Due: mypy

address overload
  sentry-options-gen-stubs/__init__.py
  tests/gen_stubs_test.py
Due: mypy

feat: Add feature flag support to option schema (#91)
  sentry-options-validation/src/feature-schema-defs.json
  sentry-options-validation/src/lib.rs
  sentry-options-validation/src/namespace-schema.json
Due: rustfmt

release: 1.0.1
  .github/workflows/validate-schema.yml
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  clients/python/pyproject.toml
  clients/python/uv.lock
Due: none

fix(ci): Build for python 3.11 manylinux (#103)
  .github/workflows/main.yml
Due: none

fix(git): Assume non-matching pathspec is an empty directory (#105)
  sentry-options-cli/src/schema_evolution.rs
  sentry-options-cli/src/schema_retriever.rs
Due: rustfmt

release: 1.0.0
  .github/workflows/validate-schema.yml
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  clients/python/pyproject.toml
  clients/python/uv.lock
Due: none

skip if theres a ref
  sentry-options-gen-stubs/__init__.py
Due: mypy

Add missing context data
  clients/rust/src/features.rs
Due: rustfmt

feat(clients): Include stub generation script and pre-commit hook (#104)
  .flake8
  .gitignore
  .pre-commit-config.yaml
  .pre-commit-hooks.yaml
  pyproject.toml
  sentry-options-gen-stubs/__init__.py
  sentry-options/sentry_options/__init__.pyi
  tests/gen_stubs_test.py
  uv.lock
Due: mypy

include dunder all dunder to explicitly re export
  sentry-options-gen-stubs/__init__.py
Due: mypy

allow more than one inits
  clients/python/src/lib.rs
  clients/python/tests/options_test.py
  clients/rust/src/lib.rs
  clients/rust/src/testing.rs
  clients/rust/tests/override_validation.rs
  docs/architecture.md
  docs/integration-guide.md
Due: rustfmt, mypy

include dunder all dunder to explicitly re export (#108)
  sentry-options-gen-stubs/__init__.py
Due: mypy

allow more than one inits (#107)
  clients/python/src/lib.rs
  clients/python/tests/options_test.py
  clients/rust/src/lib.rs
  clients/rust/src/testing.rs
  clients/rust/tests/override_validation.rs
  docs/architecture.md
  docs/integration-guide.md
Due: rustfmt, mypy

release: 1.0.2
  .github/workflows/validate-schema.yml
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  clients/python/pyproject.toml
  clients/python/uv.lock
Due: none

fix(feature) Expand readme and update defaults (#106)
  README.md
  clients/python/python/sentry_options/_core.pyi
  clients/rust/src/features.rs
  docs/architecture.md
  sentry-options-validation/src/feature-schema-defs.json
Due: rustfmt

update skills for rust
  .claude/skills/add-option/SKILL.md
  .claude/skills/onboard/SKILL.md
Due: none

pick up new override changes
  .claude/skills/add-option/SKILL.md
  .claude/skills/onboard/SKILL.md
Due: none

change to hyphen
  .claude/skills/onboard/SKILL.md
Due: none

minor changes
  .claude/skills/add-option/SKILL.md
Due: none

for examples use actual namespace name
  .claude/skills/add-option/SKILL.md
  .claude/skills/onboard/SKILL.md
Due: none

feat(docs): Update onboard/add-option skill to include rust examples (#80)
  .claude/skills/add-option/SKILL.md
  .claude/skills/onboard/SKILL.md
Due: none

adds retry logic directly to retriever
  sentry-options-cli/src/schema_retriever.rs
Due: rustfmt

adds retry logic directly to retriever (#109)
  sentry-options-cli/src/schema_retriever.rs
Due: rustfmt

release: 1.0.3
  .github/workflows/validate-schema.yml
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  clients/python/pyproject.toml
  clients/python/uv.lock
Due: none

chore: pin GitHub Actions to full-length commit SHAs
  .github/workflows/release.yml
Due: none

Path conditions:
  rustfmt: any of: \.rs$
  mypy: any of: \.py$
