Repository getsentry/sentry-options: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, mypy

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
    -   id: check-yaml
    -   id: check-json
    -   id: check-toml
    -   id: check-executables-have-shebangs
    -   id: check-merge-conflict
    -   id: check-case-conflict
    -   id: debug-statements
    -   id: double-quote-string-fixer
    -   id: name-tests-test
    - id: end-of-file-fixer
      exclude_types: [svg]
    - id: trailing-whitespace
      exclude_types: [svg]
    - id: check-added-large-files
      args: ['--maxkb=1024']
-   repo: https://github.com/asottile/reorder-python-imports
    rev: v3.15.0
    hooks:
    -   id: reorder-python-imports
        args: [--py312-plus, --add-import, 'from __future__ import annotations']
-   repo: https://github.com/asottile/add-trailing-comma
    rev: v3.2.0
    hooks:
    -   id: add-trailing-comma
-   repo: https://github.com/asottile/pyupgrade
    rev: v3.20.0
    hooks:
    -   id: pyupgrade
        args: [--py312-plus]
-   repo: https://github.com/hhatto/autopep8
    rev: v2.3.2
    hooks:
    -   id: autopep8
-   repo: https://github.com/PyCQA/flake8
    rev: 7.3.0
    hooks:
    -   id: flake8
-   repo: local
    hooks:
    - id: rustfmt
      name: format rust code
      language: system
      types: [rust]
      # keep edition in sync with Cargo.toml
      # There is no way to run cargo fmt for specific files,
      # rustfmt can do it but doesn't read Cargo.toml.
      # https://github.com/rust-lang/rustfmt/issues/4485
      entry: rustfmt --edition=2024
    - id: mypy
      name: mypy
      entry: .venv/bin/mypy
      language: system
      types: [python]

docs(experiments): Fix exposure example and shrink guidance
  clients/python/src/lib.rs
  docs/experiments.md
  sentry-options-validation/src/experiments.rs
Due: rustfmt

docs(experiments): Recommend a check that records the exposure
  docs/experiments.md
Due: none

docs(experiments): Explain per-target layer overrides
  docs/experiments.md
Due: none

fix(cli): Validate merged values for cross-layer experiment dupes
  docs/experiments.md
  sentry-options-cli/src/main.rs
  sentry-options-cli/src/output.rs
  sentry-options-cli/tests/experiments_e2e.rs
Due: rustfmt

docs(experiments): Key the running example on a Seer run
  docs/experiments.md
Due: none

feat(validation): Add experiment definitions with layer checks
  Cargo.lock
  docs/experiments.md
  docs/options.md
  sentry-options-cli/src/main.rs
  sentry-options-cli/src/output.rs
  sentry-options-validation/Cargo.toml
  sentry-options-validation/src/experiment-schema-defs.json
  sentry-options-validation/src/experiments.rs
  sentry-options-validation/src/lib.rs
  sentry-options-validation/src/namespace-schema.json
  sentry-options/options/sentry-options-testing/default/base.yaml
  sentry-options/schemas/sentry-options-testing/schema.json
  sentry-options/values/sentry-options-testing/values.json
Due: rustfmt

fix(validation): Cap arm weights in crate validation
  sentry-options-validation/src/experiments.rs
Due: rustfmt

feat(client): Add layered experiment assignment
  Cargo.lock
  clients/rust/Cargo.toml
  clients/rust/benches/experiments_bench.rs
  clients/rust/src/experiments.rs
  clients/rust/src/lib.rs
  clients/rust/src/testing.rs
  docs/architecture.md
  docs/experiments.md
  sentry-options-cli/Cargo.toml
  sentry-options-cli/tests/experiments_e2e.rs
Due: rustfmt

ref(client): Address review cleanups for experiments
  clients/rust/src/experiments.rs
  clients/rust/src/lib.rs
  clients/rust/src/testing.rs
Due: rustfmt

feat(python): Expose experiments with layers and assignment records
  .github/workflows/main.yml
  AGENTS.md
  Cargo.lock
  README.md
  clients/python/Cargo.toml
  clients/python/python/sentry_options/__init__.py
  clients/python/python/sentry_options/_core.pyi
  clients/python/python/sentry_options/testing.py
  clients/python/src/lib.rs
  clients/python/tests/experiments_e2e_test.py
  clients/python/tests/experiments_test.py
  docs/experiments.md
Due: rustfmt, mypy

test(python): Trim redundant experiment tests
  clients/python/python/sentry_options/testing.py
  clients/python/tests/experiments_test.py
Due: mypy

feat(flags): Bucket rollouts by feature name for new flags
  Cargo.lock
  clients/rust/Cargo.toml
  clients/rust/src/features.rs
  docs/architecture.md
  docs/options.md
Due: rustfmt

docs(flags): Explain why the feature name is a rollout argument
  clients/rust/src/features.rs
Due: rustfmt

fix(flags): Match flagpole's microsecond precision at the epoch
  clients/rust/src/features.rs
Due: rustfmt

refactor(flags): Inline the compute_id wrapper into id()
  clients/rust/src/features.rs
Due: rustfmt

test(flags): Use a realistic identity and feature names in rollout tests
  clients/rust/src/features.rs
Due: rustfmt

test(flags): Pin bucket_id on a realistic context
  clients/rust/src/features.rs
Due: rustfmt

test(flags): Cover feature bucketing through the Python client
  clients/python/tests/features_test.py
  sentry-options/schemas/sentry-options-testing/schema.json
  sentry-options/values/sentry-options-testing/values.json
Due: mypy

perf(flags): Parse created_at lazily and cache the context identity
  clients/rust/src/features.rs
Due: rustfmt

test(flags): Benchmark partial rollouts on both sides of the epoch
  clients/rust/benches/features_bench.rs
Due: rustfmt

refactor(flags): Simplify feature-specific bucketing
  clients/rust/src/features.rs
Due: rustfmt

ref(flags): Move the bucketing epoch to 2026-10-05
  clients/rust/src/features.rs
  docs/architecture.md
  docs/options.md
Due: rustfmt

ref(flags): Hash the feature name prefix in one update
  clients/rust/src/features.rs
Due: rustfmt

test: measure ConfigMap propagation with Minikube
  Makefile
  examples/minikube_propagation/Dockerfile
  examples/minikube_propagation/Dockerfile.dockerignore
  examples/minikube_propagation/README.md
  examples/minikube_propagation/driver.py
  examples/minikube_propagation/probe.py
Due: mypy

test: mirror Getsentry options mounts and apply path
  examples/minikube_propagation/Dockerfile
  examples/minikube_propagation/README.md
  examples/minikube_propagation/driver.py
  examples/minikube_propagation/probe.py
  examples/minikube_propagation/schema.json
Due: mypy

test: sample new-first Getsentry reads five times
  Makefile
  examples/minikube_propagation/README.md
  examples/minikube_propagation/driver.py
  examples/minikube_propagation/probe.py
Due: mypy

test: measure best-effort Pod annotation refresh
  Makefile
  examples/minikube_propagation/README.md
  examples/minikube_propagation/driver.py
  examples/minikube_propagation/probe.py
Due: mypy

test: report Pod refresh request setup failures
  examples/minikube_propagation/probe.py
Due: mypy

style: apply Minikube example formatting hooks
  examples/minikube_propagation/driver.py
  examples/minikube_propagation/probe.py
Due: mypy

style: apply annotation example formatting hooks
  examples/minikube_propagation/driver.py
  examples/minikube_propagation/probe.py
Due: mypy

perf(flags): Avoid BigInt allocations in identity hashing
  clients/rust/Cargo.toml
  clients/rust/src/features.rs
Due: rustfmt

ref(flags): Use fixed-size digest chunks
  clients/rust/src/features.rs
Due: rustfmt

docs(flags): Explain created_at rollout hash selection
  sentry-options-validation/src/feature-schema-defs.json
Due: none

feat(flags): Bucket rollouts by feature name for new flags
  Cargo.lock
  clients/python/tests/features_test.py
  clients/rust/Cargo.toml
  clients/rust/benches/features_bench.rs
  clients/rust/src/features.rs
  docs/architecture.md
  docs/options.md
  sentry-options/schemas/sentry-options-testing/schema.json
  sentry-options/values/sentry-options-testing/values.json
Due: rustfmt, mypy

perf(flags): Avoid allocating the feature hash prefix
  clients/rust/src/features.rs
Due: rustfmt

ref(flags): Clarify digest remainder calculation
  clients/rust/src/features.rs
Due: rustfmt

Measure best-effort Pod annotation refresh in Minikube (#186)
  Makefile
  examples/minikube_propagation/README.md
  examples/minikube_propagation/driver.py
  examples/minikube_propagation/probe.py
Due: mypy

Measure ConfigMap propagation latency with Minikube (#185)
  Makefile
  examples/minikube_propagation/Dockerfile
  examples/minikube_propagation/Dockerfile.dockerignore
  examples/minikube_propagation/README.md
  examples/minikube_propagation/driver.py
  examples/minikube_propagation/probe.py
  examples/minikube_propagation/schema.json
Due: mypy

chore(deps): bump pyo3 from 0.27.2 to 0.29.2 (#179)
  Cargo.lock
  clients/python/Cargo.toml
Due: none
