Repository getsentry/sentry-options: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, mypy

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
    -   id: check-yaml
    -   id: check-json
    -   id: check-toml
    -   id: check-executables-have-shebangs
    -   id: check-merge-conflict
    -   id: check-case-conflict
    -   id: debug-statements
    -   id: double-quote-string-fixer
    -   id: name-tests-test
    - id: end-of-file-fixer
      exclude_types: [svg]
    - id: trailing-whitespace
      exclude_types: [svg]
    - id: check-added-large-files
      args: ['--maxkb=1024']
-   repo: https://github.com/asottile/reorder-python-imports
    rev: v3.15.0
    hooks:
    -   id: reorder-python-imports
        args: [--py312-plus, --add-import, 'from __future__ import annotations']
-   repo: https://github.com/asottile/add-trailing-comma
    rev: v3.2.0
    hooks:
    -   id: add-trailing-comma
-   repo: https://github.com/asottile/pyupgrade
    rev: v3.20.0
    hooks:
    -   id: pyupgrade
        args: [--py312-plus]
-   repo: https://github.com/hhatto/autopep8
    rev: v2.3.2
    hooks:
    -   id: autopep8
-   repo: https://github.com/PyCQA/flake8
    rev: 7.3.0
    hooks:
    -   id: flake8
-   repo: local
    hooks:
    - id: rustfmt
      name: format rust code
      language: system
      types: [rust]
      # keep edition in sync with Cargo.toml
      # There is no way to run cargo fmt for specific files,
      # rustfmt can do it but doesn't read Cargo.toml.
      # https://github.com/rust-lang/rustfmt/issues/4485
      entry: rustfmt --edition=2024
    - id: mypy
      name: mypy
      entry: .venv/bin/mypy
      language: system
      types: [python]

prevent build on pr
  .github/workflows/main.yml
Due: none

feat(cli): Statically compile binary (#53)
  .github/workflows/main.yml
Due: none

use musl over gnu
  .craft.yml
Due: none

feat(craft): Update craft to use musl (#54)
  .craft.yml
Due: none

release: 0.0.7
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  clients/python/pyproject.toml
Due: none

feat(sentry): Add sentry (#48)
  Cargo.lock
  Cargo.toml
  clients/rust/src/lib.rs
  examples/Dockerfile
  examples/rust/src/main.rs
  examples/values/sentry-options-testing/values.json
  sentry-options-cli/src/main.rs
  sentry-options-cli/src/output.rs
  sentry-options-validation/Cargo.toml
  sentry-options-validation/src/lib.rs
Due: rustfmt

add option and migrate schema
  .github/workflows/main.yml
  examples/Dockerfile
  examples/README.md
  examples/repos.json
  examples/schemas/sentry-options-testing/schema.json
  sentry-options/schemas/sentry-options-testing/schema.json
Due: none

try deleting option
  sentry-options/schemas/sentry-options-testing/schema.json
Due: none

revert schema deletion
  sentry-options/schemas/sentry-options-testing/schema.json
Due: none

also edit main.py
  examples/python/main.py
Due: mypy

feat(examples): Test adding option and migrate example schemas (#55)
  .github/workflows/main.yml
  examples/Dockerfile
  examples/README.md
  examples/python/main.py
  examples/repos.json
  examples/schemas/sentry-options-testing/schema.json
  sentry-options/schemas/sentry-options-testing/schema.json
Due: mypy

fix compilation
  .github/workflows/main.yml
  Cargo.lock
  Cargo.toml
  sentry-options-validation/Cargo.toml
Due: none

also build rust cli
  .github/workflows/main.yml
Due: none

try this
  .github/workflows/main.yml
Due: none

uncomment out build on release branches only
  .github/workflows/main.yml
Due: none

revert openssl vendored
  .github/workflows/main.yml
  Cargo.lock
  Cargo.toml
  sentry-options-validation/Cargo.toml
Due: none

test compilation again
  .craft.yml
  .github/workflows/main.yml
  Cargo.lock
  Cargo.toml
  sentry-options-validation/Cargo.toml
Due: none

fix(compilation): Add openssl (#56)
  .craft.yml
  .github/workflows/main.yml
  Cargo.lock
  Cargo.toml
  sentry-options-validation/Cargo.toml
Due: none

release: 0.0.8
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  clients/python/pyproject.toml
Due: none

do not report spans for tests
  sentry-options-validation/src/lib.rs
Due: rustfmt

update integration guide
  docs/integration-guide.md
Due: none

do not report spans for tests (#57)
  sentry-options-validation/src/lib.rs
Due: rustfmt

deleting an option
  sentry-options-cli/src/schema_evolution.rs
  sentry-options/schemas/sentry-options-testing/schema.json
Due: rustfmt

another valid change we need to confirm
  sentry-options/schemas/sentry-options-testing/schema.json
Due: none

make it valid again
  sentry-options/schemas/sentry-options-testing/schema.json
Due: none

chore(cli): Make schema evolution error more user friendly (#59)
  sentry-options-cli/src/schema_evolution.rs
Due: rustfmt

only build from source sometimes
  .github/actions/validate-schema/action.yml
  .github/workflows/main.yml
Due: none

make a source change
  sentry-options-cli/src/schema_evolution.rs
Due: rustfmt

undo source change
  sentry-options-cli/src/schema_evolution.rs
Due: rustfmt

fail if configmap size > 1 mib
  sentry-options-cli/src/output.rs
Due: rustfmt

fix test failure
  sentry-options-cli/src/output.rs
Due: rustfmt

add some buffer room
  sentry-options-cli/src/output.rs
Due: rustfmt

feat(ci): Update composite action to selectively build from source (#60)
  .github/actions/validate-schema/action.yml
  .github/workflows/main.yml
Due: none

feat(k8): Fail if generated config map is larger than 1 MiB (#61)
  sentry-options-cli/src/output.rs
Due: rustfmt

address some comments
  docs/integration-guide.md
Due: none

move check higher up to ignore non yaml files
  sentry-options-cli/src/loader.rs
Due: rustfmt

fix rate.limit
  docs/integration-guide.md
Due: none

underscore unused variable
  sentry-options-cli/src/loader.rs
Due: rustfmt

fix option-values dir
  docs/integration-guide.md
Due: none
