Repository getsentry/sentry-options: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, mypy

rustfmt:
  name: format rust code
  language: system
  entry: rustfmt --edition=2024

mypy:
  name: mypy
  entry: .venv/bin/mypy
  language: system

Make feature.name optional
  sentry-options-validation/src/feature-schema-defs.json
  sentry-options-validation/src/lib.rs
Due: rustfmt

Add sha1 package
  Cargo.lock
  Cargo.toml
  clients/rust/Cargo.toml
Due: none

Implement features() and FeatureChecker in python
  clients/python/src/lib.rs
  clients/python/tests/conftest.py
  clients/python/tests/features_test.py
  clients/rust/src/features.rs
Due: rustfmt, mypy

Fix bad merge
  clients/python/tests/conftest.py
Due: mypy

Add test coverage for partial rollout
  clients/python/src/lib.rs
  clients/python/tests/conftest.py
  clients/python/tests/features_test.py
Due: rustfmt, mypy

cargo fmt
  clients/rust/src/features.rs
Due: rustfmt

Add num dep
  Cargo.lock
  clients/rust/Cargo.toml
Due: none

Tweak rollout rate comparison
  clients/rust/src/features.rs
Due: rustfmt

Fix clippy warnings
  clients/rust/src/features.rs
Due: rustfmt

Add missing imports
  clients/python/python/sentry_options/__init__.py
Due: mypy

Remove dbg! and fix potential panic
  clients/rust/src/features.rs
Due: rustfmt

Features should default to enabled=false
  sentry-options-validation/src/feature-schema-defs.json
Due: none

Fix tests
  clients/python/tests/features_test.py
Due: mypy

Fix key names in conftest.
  clients/python/tests/conftest.py
Due: mypy

Implement features() and FeatureChecker
  clients/rust/src/features.rs
  clients/rust/src/lib.rs
Due: rustfmt

bump this version as well
  .github/workflows/validate-schema.yml
Due: none

ContextValue -> serde_json::Value (#94)
  .github/workflows/validate-schema.yml
  clients/python/src/lib.rs
  clients/rust/src/features.rs
  clients/rust/src/lib.rs
Due: rustfmt

also bump the reusable workflow version
  scripts/bump-version.sh
Due: none

and bump version so we don't fail ci
  .github/workflows/validate-schema.yml
Due: none

chore(release): Also bump reusable workflow version (#96)
  .github/workflows/validate-schema.yml
  scripts/bump-version.sh
Due: none

Move feature schema/values into fixture files
  clients/python/tests/conftest.py
  sentry-options/schemas/sentry-options-testing/schema.json
  sentry-options/values/sentry-options-testing/values.json
Due: mypy

gets rid of old composite action
  .claude/skills/onboard/SKILL.md
  .github/actions/validate-schema/action.yml
  README.md
  docs/integration-guide.md
  scripts/bump-version.sh
Due: none

update docs to include object and deletion support
  docs/integration-guide.md
Due: none

gets rid of old composite action (#97)
  .claude/skills/onboard/SKILL.md
  .github/actions/validate-schema/action.yml
  README.md
  docs/integration-guide.md
  scripts/bump-version.sh
Due: none

update docs to include object and deletion support (#98)
  docs/integration-guide.md
Due: none

feat(schema): Add seer-context-engine namespace with kill switch
  sentry-options/schemas/seer-context-engine/schema.json
Due: none

docs: add module-level docstring to Python client
  clients/python/python/sentry_options/__init__.py
Due: mypy

docs: reword docstring to focus on what the library does
  clients/python/python/sentry_options/__init__.py
Due: mypy

docs: add module-level docstring to Python client (#100)
  clients/python/python/sentry_options/__init__.py
Due: mypy

fix(python): add abi3-py311 to maturin features for correct wheel tagging
  clients/python/pyproject.toml
Due: none

fix(python): add abi3-py311 to maturin features for correct wheel tagging (#101)
  clients/python/pyproject.toml
Due: none

Add py.typed marker, type stubs, and pre-commit stub drift check
  .pre-commit-config.yaml
  clients/python/python/sentry_options/_core.pyi
  clients/python/python/sentry_options/py.typed
  clients/python/scripts/check_stubs.py
Due: mypy

remove precommit hook
  .pre-commit-config.yaml
  clients/python/python/sentry_options/_core.pyi
  clients/python/scripts/check_stubs.py
Due: mypy

fix
  clients/python/pyproject.toml
  clients/python/python/sentry_options/__init__.py
  clients/python/python/sentry_options/testing.py
Due: mypy

remove explicit include
  clients/python/pyproject.toml
Due: none

update docs
  .claude/skills/onboard/SKILL.md
  docs/architecture.md
Due: none

feat: Add type stubs for pythong client library (#102)
  .claude/skills/onboard/SKILL.md
  clients/python/pyproject.toml
  clients/python/python/sentry_options/__init__.py
  clients/python/python/sentry_options/_core.pyi
  clients/python/python/sentry_options/py.typed
  clients/python/python/sentry_options/testing.py
  docs/architecture.md
Due: mypy

try to fix cp38
  .github/workflows/main.yml
Due: none

revert ci change
  .github/workflows/main.yml
Due: none

Path conditions:
  rustfmt: any of: \.rs$
  mypy: any of: \.py$
