Repository getsentry/sentry-options: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, mypy

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
    -   id: check-yaml
    -   id: check-json
    -   id: check-toml
    -   id: check-executables-have-shebangs
    -   id: check-merge-conflict
    -   id: check-case-conflict
    -   id: debug-statements
    -   id: double-quote-string-fixer
    -   id: name-tests-test
    - id: end-of-file-fixer
      exclude_types: [svg]
    - id: trailing-whitespace
      exclude_types: [svg]
    - id: check-added-large-files
      args: ['--maxkb=1024']
-   repo: https://github.com/asottile/reorder-python-imports
    rev: v3.15.0
    hooks:
    -   id: reorder-python-imports
        args: [--py312-plus, --add-import, 'from __future__ import annotations']
-   repo: https://github.com/asottile/add-trailing-comma
    rev: v3.2.0
    hooks:
    -   id: add-trailing-comma
-   repo: https://github.com/asottile/pyupgrade
    rev: v3.20.0
    hooks:
    -   id: pyupgrade
        args: [--py312-plus]
-   repo: https://github.com/hhatto/autopep8
    rev: v2.3.2
    hooks:
    -   id: autopep8
-   repo: https://github.com/PyCQA/flake8
    rev: 7.3.0
    hooks:
    -   id: flake8
-   repo: local
    hooks:
    - id: rustfmt
      name: format rust code
      language: system
      types: [rust]
      # keep edition in sync with Cargo.toml
      # There is no way to run cargo fmt for specific files,
      # rustfmt can do it but doesn't read Cargo.toml.
      # https://github.com/rust-lang/rustfmt/issues/4485
      entry: rustfmt --edition=2024
    - id: mypy
      name: mypy
      entry: .venv/bin/mypy
      language: system
      types: [python]

fix(ci): Build for python 3.11 manylinux (#103)
  .github/workflows/main.yml
Due: none

release: 1.0.0
  .github/workflows/validate-schema.yml
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  clients/python/pyproject.toml
  clients/python/uv.lock
Due: none

stubs generation precommit script and hook
  .pre-commit-hooks.yaml
  clients/python/pyproject.toml
  clients/python/python/sentry_options/gen_stubs.py
  clients/python/tests/gen_stubs_test.py
Due: mypy

support arrays and typed dicts
  clients/python/python/sentry_options/gen_stubs.py
  clients/python/tests/gen_stubs_test.py
Due: mypy

address pr feedback
  .pre-commit-hooks.yaml
  clients/python/python/sentry_options/gen_stubs.py
Due: mypy

moved everything around
  build/lib/sentry_options_gen_stubs/__init__.py
  clients/python/pyproject.toml
  pyproject.toml
  sentry-options-gen-stubs/__init__.py
  tests/gen_stubs_test.py
  uv.lock
Due: mypy

gitignore
  .gitignore
  build/lib/sentry_options_gen_stubs/__init__.py
Due: mypy

include current stubs
  .pre-commit-hooks.yaml
  stubs/sentry_options/__init__.pyi
Due: none

add to our current precommit
  .pre-commit-config.yaml
  sentry-options-gen-stubs/__init__.py
Due: mypy

friendlier file not found
  sentry-options-gen-stubs/__init__.py
Due: mypy

sanitization of keys
  sentry-options-gen-stubs/__init__.py
  tests/gen_stubs_test.py
Due: mypy

denormalize and rename
  sentry-options-gen-stubs/__init__.py
Due: mypy

assume non matching archive is an empty dir
  sentry-options-cli/src/schema_retriever.rs
Due: rustfmt

scaffold empty directory before early return
  sentry-options-cli/src/schema_retriever.rs
Due: rustfmt

use git cat-file
  sentry-options-cli/src/schema_retriever.rs
Due: rustfmt

test in ci lol
  .github/workflows/validate-schema.yml
Due: none

suppress error message
  sentry-options-cli/src/schema_retriever.rs
Due: rustfmt

undo ci testing
  .github/workflows/validate-schema.yml
Due: none

use ls tree instead
  sentry-options-cli/src/schema_retriever.rs
Due: rustfmt

print out new option additions in a new namespace
  sentry-options-cli/src/schema_evolution.rs
  sentry-options-cli/src/schema_retriever.rs
Due: rustfmt

test in ci again
  .github/workflows/validate-schema.yml
Due: none

undo ci change again
  .github/workflows/validate-schema.yml
Due: none

fixed imports
  sentry-options-gen-stubs/__init__.py
Due: mypy

remove generic object fallbacks
  sentry-options-gen-stubs/__init__.py
Due: mypy

fix(git): Assume non-matching pathspec is an empty directory (#105)
  sentry-options-cli/src/schema_evolution.rs
  sentry-options-cli/src/schema_retriever.rs
Due: rustfmt

release: 1.0.1
  .github/workflows/validate-schema.yml
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  clients/python/pyproject.toml
  clients/python/uv.lock
Due: none

fix some tests and add optional params to typeddict
  sentry-options-gen-stubs/__init__.py
  tests/gen_stubs_test.py
Due: mypy

and add this flake8 config cuz its messing everything up
  .flake8
Due: none

import everything back but don't use a wildcard
  sentry-options-gen-stubs/__init__.py
  tests/gen_stubs_test.py
Due: mypy

use new stub generated
  stubs/sentry_options/__init__.pyi
Due: none

dedupe class names and include dynamic path logic
  sentry-options-gen-stubs/__init__.py
  stubs/sentry_options/__init__.pyi
  tests/gen_stubs_test.py
Due: mypy

feat: Add feature flag support to option schema (#91)
  sentry-options-validation/src/feature-schema-defs.json
  sentry-options-validation/src/lib.rs
  sentry-options-validation/src/namespace-schema.json
Due: rustfmt

cargo fmt
  clients/rust/src/features.rs
Due: rustfmt

Fix tests
  clients/python/tests/features_test.py
Due: mypy

Add num dep
  Cargo.lock
  clients/rust/Cargo.toml
Due: none

Implement features() and FeatureChecker
  clients/rust/src/features.rs
  clients/rust/src/lib.rs
Due: rustfmt

Add test coverage for partial rollout
  clients/python/src/lib.rs
  clients/python/tests/conftest.py
  clients/python/tests/features_test.py
Due: rustfmt, mypy

Fix key names in conftest.
  clients/python/tests/conftest.py
Due: mypy

Add sha1 package
  Cargo.lock
  Cargo.toml
  clients/rust/Cargo.toml
Due: none

Implement features() and FeatureChecker in python
  clients/python/src/lib.rs
  clients/python/tests/conftest.py
  clients/python/tests/features_test.py
  clients/rust/src/features.rs
Due: rustfmt, mypy
