Repository getsentry/sentry-options: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, mypy

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
    -   id: check-yaml
    -   id: check-json
    -   id: check-toml
    -   id: check-executables-have-shebangs
    -   id: check-merge-conflict
    -   id: check-case-conflict
    -   id: debug-statements
    -   id: double-quote-string-fixer
    -   id: name-tests-test
    - id: end-of-file-fixer
      exclude_types: [svg]
    - id: trailing-whitespace
      exclude_types: [svg]
    - id: check-added-large-files
      args: ['--maxkb=1024']
-   repo: https://github.com/asottile/reorder-python-imports
    rev: v3.15.0
    hooks:
    -   id: reorder-python-imports
        args: [--py312-plus, --add-import, 'from __future__ import annotations']
-   repo: https://github.com/asottile/add-trailing-comma
    rev: v3.2.0
    hooks:
    -   id: add-trailing-comma
-   repo: https://github.com/asottile/pyupgrade
    rev: v3.20.0
    hooks:
    -   id: pyupgrade
        args: [--py312-plus]
-   repo: https://github.com/hhatto/autopep8
    rev: v2.3.2
    hooks:
    -   id: autopep8
-   repo: https://github.com/PyCQA/flake8
    rev: 7.3.0
    hooks:
    -   id: flake8
-   repo: local
    hooks:
    - id: rustfmt
      name: format rust code
      language: system
      types: [rust]
      # keep edition in sync with Cargo.toml
      # There is no way to run cargo fmt for specific files,
      # rustfmt can do it but doesn't read Cargo.toml.
      # https://github.com/rust-lang/rustfmt/issues/4485
      entry: rustfmt --edition=2024
    - id: mypy
      name: mypy
      entry: .venv/bin/mypy
      language: system
      types: [python]

swap out all instance of rwlock for arcswap
  Cargo.lock
  Cargo.toml
  clients/rust/Cargo.toml
  clients/rust/src/lib.rs
  sentry-options-validation/Cargo.toml
  sentry-options-validation/src/lib.rs
Due: rustfmt

swap out all instance of rwlock for arcswap (#120)
  Cargo.lock
  Cargo.toml
  clients/rust/Cargo.toml
  clients/rust/src/lib.rs
  sentry-options-validation/Cargo.toml
  sentry-options-validation/src/lib.rs
Due: rustfmt

release: 1.0.9
  .github/workflows/validate-schema.yml
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  clients/python/pyproject.toml
  clients/python/uv.lock
Due: none

revert thread creation
  clients/rust/src/lib.rs
  sentry-options-validation/src/lib.rs
Due: rustfmt

also supress logging errors
  sentry-options-validation/src/lib.rs
Due: rustfmt

remove the dead sentry disabled code
  sentry-options-validation/src/lib.rs
Due: rustfmt

fix clippy
  sentry-options-validation/src/lib.rs
Due: rustfmt

fix(watcher): Revert all fork thread spawning to make latest version stable (#121)
  clients/rust/src/lib.rs
  sentry-options-validation/src/lib.rs
Due: rustfmt

release: 1.0.10
  .github/workflows/validate-schema.yml
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  clients/python/pyproject.toml
  clients/python/uv.lock
Due: none

Fix docs /etc/sentry-options/{namespace} -> /etc/sentry-options/values/{namespace}
  docs/architecture.md
Due: none

feat(sentry-options): Remove background thread
  clients/rust/src/lib.rs
  sentry-options-validation/src/lib.rs
Due: rustfmt

Have from_schemas reject duplicated namespaces
  sentry-options-validation/src/lib.rs
Due: rustfmt

Remove embedded sentry hub
  Cargo.lock
  Cargo.toml
  sentry-options-validation/Cargo.toml
  sentry-options-validation/src/lib.rs
Due: rustfmt

fix: dedent doc list continuation lines to satisfy clippy
  sentry-options-validation/src/lib.rs
Due: rustfmt

include options inventory script
  .pre-commit-config.yaml
  scripts/migration/README.md
  scripts/migration/inventory.csv
  scripts/migration/option_inventory.py
Due: mypy

feat(sentry-options): Refresh values lazily on read; drop the watcher thread and embedded Sentry (#122)
  Cargo.lock
  Cargo.toml
  clients/rust/src/lib.rs
  docs/architecture.md
  sentry-options-validation/Cargo.toml
  sentry-options-validation/src/lib.rs
Due: rustfmt

release: 1.0.11
  .github/workflows/validate-schema.yml
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  clients/python/pyproject.toml
  clients/python/uv.lock
Due: none

chore(flagpole-wildcard-op): Implementing 'matches' as a flagpole condition in rust
  clients/rust/src/features.rs
  sentry-options-validation/src/feature-schema-defs.json
Due: rustfmt

chore(flagpole-wildcard-op): Fixing formatting diffs
  clients/rust/src/features.rs
Due: rustfmt

chore(flagpole-wildcard-op): Iterating
  clients/rust/src/features.rs
Due: rustfmt

chore(flagpole-wildcard-op): Fixing tests
  clients/rust/src/features.rs
Due: rustfmt

enhance!
  scripts/migration/.envrc
  scripts/migration/HOW-OPTIONS-WORK.md
  scripts/migration/Makefile
  scripts/migration/README.md
  scripts/migration/TODO.md
  scripts/migration/option_inventory.py
  scripts/migration/pyproject.toml
  scripts/migration/uv.lock
Due: mypy

chore(flagpole-wildcard-op): Implementing 'matches' as a flagpole condition (#124)
  clients/rust/src/features.rs
  sentry-options-validation/src/feature-schema-defs.json
Due: rustfmt

iterate
  scripts/migration/README.md
  scripts/migration/active_options.json
  scripts/migration/enumerate_active_options.py
  scripts/migration/option_inventory.py
  scripts/migration/options.html
Due: mypy

release: 1.0.12
  .github/workflows/validate-schema.yml
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  clients/python/pyproject.toml
  clients/python/uv.lock
Due: none

release: 1.0.12 (#125)
  .github/workflows/validate-schema.yml
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  clients/python/pyproject.toml
  clients/python/uv.lock
Due: none

up
  scripts/migration/TODO.md
Due: none

initial profiler and get() tests
  Cargo.lock
  clients/python/tests/bench_get_test.py
  clients/rust/Cargo.toml
  clients/rust/benches/options_bench.rs
Due: rustfmt, mypy

add pytest-benchmark to pyproject.toml
  clients/python/pyproject.toml
Due: none

just use the existing test namespace for the rust
  clients/rust/benches/options_bench.rs
Due: rustfmt

add a tiny readme
  benchmarks.md
Due: none

get rid of pytest benchmark and use pyperf instead
  benchmarks/README.md
  benchmarks/python/bench_get.py
  clients/python/pyproject.toml
  clients/python/tests/bench_get_test.py
Due: mypy

moved python benchmarks again
  benchmarks.md
  clients/python/benches/bench_get.py
Due: mypy

feat(profiling): Benchmark `get()` for rust and python (#126)
  Cargo.lock
  benchmarks.md
  clients/python/benches/bench_get.py
  clients/python/pyproject.toml
  clients/rust/Cargo.toml
  clients/rust/benches/options_bench.rs
Due: rustfmt, mypy

chore(flagpole-wildcard-op): Implementing 'not_matches' as a flagpole condition in rust
  clients/rust/src/features.rs
  sentry-options-validation/src/feature-schema-defs.json
Due: rustfmt

chore(flagpole-wildcard-op): Implementing 'not_matches' as a flagpole condition in rust (#127)
  clients/rust/src/features.rs
  sentry-options-validation/src/feature-schema-defs.json
Due: rustfmt

release: 1.0.13
  .github/workflows/validate-schema.yml
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  clients/python/pyproject.toml
  clients/python/uv.lock
Due: none

release: 1.0.13 (#128)
  .github/workflows/validate-schema.yml
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  clients/python/pyproject.toml
  clients/python/uv.lock
Due: none

isset and has
  benchmarks.md
  clients/python/benches/bench_has.py
  clients/python/benches/bench_isset.py
  clients/rust/Cargo.toml
  clients/rust/benches/features_bench.rs
  clients/rust/benches/isset_bench.rs
Due: rustfmt, mypy

isset and has (#129)
  benchmarks.md
  clients/python/benches/bench_has.py
  clients/python/benches/bench_isset.py
  clients/rust/Cargo.toml
  clients/rust/benches/features_bench.rs
  clients/rust/benches/isset_bench.rs
Due: rustfmt, mypy
