Repository getsentry/sentry-options: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, mypy

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
    -   id: check-yaml
    -   id: check-json
    -   id: check-toml
    -   id: check-executables-have-shebangs
    -   id: check-merge-conflict
    -   id: check-case-conflict
    -   id: debug-statements
    -   id: double-quote-string-fixer
    -   id: name-tests-test
    - id: end-of-file-fixer
      exclude_types: [svg]
    - id: trailing-whitespace
      exclude_types: [svg]
    - id: check-added-large-files
      args: ['--maxkb=1024']
-   repo: https://github.com/asottile/reorder-python-imports
    rev: v3.15.0
    hooks:
    -   id: reorder-python-imports
        args: [--py312-plus, --add-import, 'from __future__ import annotations']
-   repo: https://github.com/asottile/add-trailing-comma
    rev: v3.2.0
    hooks:
    -   id: add-trailing-comma
-   repo: https://github.com/asottile/pyupgrade
    rev: v3.20.0
    hooks:
    -   id: pyupgrade
        args: [--py312-plus]
-   repo: https://github.com/hhatto/autopep8
    rev: v2.3.2
    hooks:
    -   id: autopep8
-   repo: https://github.com/PyCQA/flake8
    rev: 7.3.0
    hooks:
    -   id: flake8
-   repo: local
    hooks:
    - id: rustfmt
      name: format rust code
      language: system
      types: [rust]
      # keep edition in sync with Cargo.toml
      # There is no way to run cargo fmt for specific files,
      # rustfmt can do it but doesn't read Cargo.toml.
      # https://github.com/rust-lang/rustfmt/issues/4485
      entry: rustfmt --edition=2024
    - id: mypy
      name: mypy
      entry: .venv/bin/mypy
      language: system
      types: [python]

[skip ci] update
  scripts/migration/README.md
  scripts/migration/inventory.csv
  scripts/migration/option_inventory.py
Due: mypy

collect seen options
  scripts/migration/UNUSED-OPTIONS.md
  scripts/migration/check-seen-options.py
  scripts/migration/collect-seen-options.py
  scripts/migration/inventory.csv
  scripts/migration/safe-to-delete-options.py
  scripts/migration/safe.txt
  scripts/migration/seen.txt
Due: mypy

refresh benchmark
  clients/rust/Cargo.toml
  clients/rust/benches/reload_trace.rs
Due: rustfmt

refresh benchmark (#130)
  clients/rust/Cargo.toml
  clients/rust/benches/reload_trace.rs
Due: rustfmt

run
  scripts/migration/Makefile
  scripts/migration/collect-seen-options-out.txt
  scripts/migration/collect-seen-options.py
  scripts/migration/seen.txt
Due: mypy

update
  scripts/migration/check-seen-options.py
  scripts/migration/collect-seen-options-out.txt
  scripts/migration/collect-seen-options.py
  scripts/migration/safe-to-delete-options.py
  scripts/migration/seen.txt
Due: mypy

add auto bump reusable workflow
  .github/workflows/bump-sha.yml
  docs/integration-guide.md
Due: none

update identity
  .github/workflows/bump-sha.yml
Due: none

93 safe candidates
  scripts/migration/delete-options.py
  scripts/migration/safe-to-delete-options.py
Due: mypy

[skip ci] womp womp
  scripts/migration/option_inventory.py
  scripts/migration/safe-to-delete-options.py
Due: mypy

address PR comments
  .github/scripts/bump_sha.py
  .github/workflows/bump-sha.yml
Due: mypy

sparse chekcout action
  .github/workflows/bump-sha.yml
Due: none

fix failing pre-commit
  .pre-commit-config.yaml
Due: none

feat(ci): Create auto-bump SHA script (#131)
  .github/scripts/bump_sha.py
  .github/workflows/bump-sha.yml
  .pre-commit-config.yaml
  docs/integration-guide.md
Due: mypy

adds new option
  sentry-options/schemas/sentry-options-testing/schema.json
  sentry-options/sentry_options/__init__.pyi
Due: none

adds new option (#132)
  sentry-options/schemas/sentry-options-testing/schema.json
  sentry-options/sentry_options/__init__.pyi
Due: none

run the sha bumping on main
  .github/workflows/main.yml
Due: none

run the sha bumping on main (#133)
  .github/workflows/main.yml
Due: none

attempt to fix the schema bumping
  .github/workflows/bump-sha.yml
  .github/workflows/main.yml
Due: none

fix path
  .github/workflows/main.yml
Due: none

prayg
  .github/workflows/bump-sha.yml
Due: none

fixed bug and regenerated
  inventory_fixed.csv
  scripts/migration/COMPLETE-OPTION-CLASSIFICATION.md
  scripts/migration/MIGRATION-ORDER-PROPOSALS.md
  scripts/migration/inventory.csv
  scripts/migration/option_inventory.py
Due: mypy

fix regex again and include final readmes
  scripts/migration/COMPLETE-OPTION-CLASSIFICATION.md
  scripts/migration/MIGRATION-ORDER-PROPOSALS.md
  scripts/migration/MIGRATION-SUB-TIERS.md
  scripts/migration/inventory.csv
  scripts/migration/option_inventory.py
Due: mypy

update some naming
  scripts/migration/COMPLETE-OPTION-CLASSIFICATION.md
  scripts/migration/MIGRATION-SUB-TIERS.md
Due: none

removes mandatory sha bumping
  docs/integration-guide.md
  examples/repos.json
  sentry-options-cli/src/repo_schema_config.rs
  sentry-options-cli/src/schema_retriever.rs
Due: rustfmt

add some logging and remove the old bump script
  .github/scripts/bump_sha.py
  .github/workflows/bump-sha.yml
  sentry-options-cli/src/schema_retriever.rs
Due: rustfmt, mypy

warn instead of fail when option values are still present
  .github/workflows/validate-schema.yml
  docs/integration-guide.md
Due: none

warn instead of fail when option values are still present (#136)
  .github/workflows/validate-schema.yml
  docs/integration-guide.md
Due: none

feat(ci): Removes mandatory SHA bumping (#135)
  .github/scripts/bump_sha.py
  .github/workflows/bump-sha.yml
  docs/integration-guide.md
  examples/repos.json
  sentry-options-cli/src/repo_schema_config.rs
  sentry-options-cli/src/schema_retriever.rs
Due: rustfmt, mypy

add callback hook into propogation time metrics
  Cargo.lock
  clients/python/python/sentry_options/_core.pyi
  clients/python/src/lib.rs
  clients/rust/src/lib.rs
  sentry-options-validation/Cargo.toml
  sentry-options-validation/src/lib.rs
Due: rustfmt

simplification
  Cargo.lock
  Cargo.toml
  clients/python/src/lib.rs
  clients/rust/src/lib.rs
  sentry-options-cli/Cargo.toml
  sentry-options-validation/Cargo.toml
  sentry-options-validation/src/lib.rs
Due: rustfmt

simplify signature
  sentry-options-validation/src/lib.rs
Due: rustfmt

inline function and handle panics
  sentry-options-validation/src/lib.rs
Due: rustfmt

add e2e python prop tests
  clients/python/tests/propagation_test.py
Due: mypy

remove unsafe, add missing rust unit tests
  clients/python/src/lib.rs
  sentry-options-validation/src/lib.rs
Due: rustfmt

address pyo3 deprecation warnings
  clients/python/src/lib.rs
Due: rustfmt

feat(metrics): Allow clients to hook into propagation time metrics (#137)
  Cargo.lock
  Cargo.toml
  clients/python/python/sentry_options/_core.pyi
  clients/python/src/lib.rs
  clients/python/tests/propagation_test.py
  clients/rust/src/lib.rs
  sentry-options-cli/Cargo.toml
  sentry-options-validation/Cargo.toml
  sentry-options-validation/src/lib.rs
Due: rustfmt, mypy

remove all references to bump sha
  .github/workflows/main.yml
Due: none

somehow??
  sentry-options-validation/src/lib.rs
Due: rustfmt

fix(ci): Delete missed bump-sha references (#138)
  .github/workflows/main.yml
  sentry-options-validation/src/lib.rs
Due: rustfmt
