Repository getsentry/sentry-options: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, mypy

rustfmt:
  name: format rust code
  language: system
  entry: rustfmt --edition=2024

mypy:
  name: mypy
  entry: .venv/bin/mypy
  language: system

chore: pin GitHub Actions to full-length commit SHAs (#110)
  .github/workflows/release.yml
Due: none

fix(clients): Remove all panics from Rust client public API
  clients/rust/src/features.rs
  clients/rust/src/lib.rs
  clients/rust/src/testing.rs
Due: rustfmt

fix(clients): Remove all panics from public API, rename InitializationError
  clients/python/python/sentry_options/__init__.py
  clients/python/python/sentry_options/_core.pyi
  clients/python/src/lib.rs
  clients/python/tests/options_test.py
  sentry-options-gen-stubs/__init__.py
  sentry-options/sentry_options/__init__.pyi
  tests/gen_stubs_test.py
Due: rustfmt, mypy

fix: regenerate stubs with sentry-options-gen-stubs
  sentry-options/sentry_options/__init__.pyi
Due: none

fix(clients): Move NotInitialized check to options(), use NotInitializedError in Python
  clients/python/src/lib.rs
  clients/rust/src/lib.rs
  clients/rust/tests/override_validation.rs
  examples/rust/src/main.rs
Due: rustfmt

fix(clients): Remove all panics from Rust client public API (#111)
  clients/python/python/sentry_options/__init__.py
  clients/python/python/sentry_options/_core.pyi
  clients/python/src/lib.rs
  clients/python/tests/options_test.py
  clients/rust/src/features.rs
  clients/rust/src/lib.rs
  clients/rust/src/testing.rs
  clients/rust/tests/override_validation.rs
  examples/rust/src/main.rs
  sentry-options-gen-stubs/__init__.py
  sentry-options/sentry_options/__init__.pyi
  tests/gen_stubs_test.py
Due: rustfmt, mypy

release: 1.0.4
  .github/workflows/validate-schema.yml
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  clients/python/pyproject.toml
  clients/python/uv.lock
Due: none

chore(deps): Trim sentry SDK to only required features
  Cargo.lock
  Cargo.toml
  sentry-options-validation/Cargo.toml
Due: none

feat(clients): Add init_with_schemas() for compile-time embedded schemas
  clients/rust/src/lib.rs
  sentry-options-validation/src/lib.rs
Due: rustfmt

docs: Update Rust usage to recommend embedded schemas, fix options() examples
  docs/architecture.md
Due: none

ref: Extract shared schema validation helpers, fix doc examples
  clients/rust/src/lib.rs
  docs/architecture.md
  sentry-options-validation/src/lib.rs
Due: rustfmt

docs: Document idempotent behavior of init() and init_with_schemas()
  clients/rust/src/lib.rs
Due: rustfmt

feat(clients): Add init_with_schemas() for compile-time embedded schemas (#113)
  clients/rust/src/lib.rs
  docs/architecture.md
  sentry-options-validation/src/lib.rs
Due: rustfmt

release: 1.0.5
  .github/workflows/validate-schema.yml
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  clients/python/pyproject.toml
  clients/python/uv.lock
Due: none

add benchmarking for rust
  Cargo.lock
  clients/rust/Cargo.toml
  clients/rust/benches/get_option.rs
Due: rustfmt

include isset
  clients/rust/benches/README.md
  clients/rust/benches/get_option.rs
Due: rustfmt

chore(deps): Trim sentry SDK to only required features (#112)
  Cargo.lock
  Cargo.toml
  sentry-options-validation/Cargo.toml
Due: none

feat(rust): Export Value publicly and add from_directory_and_schemas()
  clients/rust/src/lib.rs
Due: rustfmt

feat(schema): Support additionalProperties map schemas
  sentry-options-validation/src/lib.rs
  sentry-options-validation/src/namespace-schema.json
Due: rustfmt

style(validation): fix rustfmt formatting
  sentry-options-validation/src/lib.rs
Due: rustfmt

feat(tracing): Replace println/eprintln with tracing
  Cargo.lock
  Cargo.toml
  clients/rust/Cargo.toml
  clients/rust/src/features.rs
  sentry-options-cli/Cargo.toml
  sentry-options-cli/src/main.rs
  sentry-options-cli/src/schema_evolution.rs
  sentry-options-cli/src/schema_retriever.rs
  sentry-options-validation/Cargo.toml
  sentry-options-validation/src/lib.rs
Due: rustfmt

fix(schema): require additionalProperties for object-typed shape fields
  sentry-options-validation/src/namespace-schema.json
Due: none

feat(schema): Support additionalProperties map schemas (#114)
  sentry-options-validation/src/lib.rs
  sentry-options-validation/src/namespace-schema.json
Due: rustfmt

fix(validation): Strip unknown keys from values to handle deployment race condition
  sentry-options-validation/src/lib.rs
Due: rustfmt

update documentation for top level function
  sentry-options-validation/src/lib.rs
Due: rustfmt

fix clippy match guard with if
  clients/rust/src/features.rs
Due: rustfmt

fix(validation): Strip unknown keys from values to handle deployment race condition (#117)
  clients/rust/src/features.rs
  sentry-options-validation/src/lib.rs
Due: rustfmt

release: 1.0.6
  .github/workflows/validate-schema.yml
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  clients/python/pyproject.toml
  clients/python/uv.lock
Due: none

pid aware, fork safe values watcher
  clients/rust/src/lib.rs
  sentry-options-validation/src/lib.rs
Due: rustfmt

fixes clippy warnings, improves function name, refactors error propogation
  clients/rust/src/lib.rs
  sentry-options-validation/src/lib.rs
Due: rustfmt

toctou
  sentry-options-validation/src/lib.rs
Due: rustfmt

tests and pr comments
  sentry-options-validation/src/lib.rs
Due: rustfmt

removing this potentially flaky test
  sentry-options-validation/src/lib.rs
Due: rustfmt

feat(watcher): Fork-safe, PID-aware values watcher (#118)
  clients/rust/src/lib.rs
  sentry-options-validation/src/lib.rs
Due: rustfmt

release: 1.0.7
  .github/workflows/validate-schema.yml
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  clients/python/pyproject.toml
  clients/python/uv.lock
Due: none

disalbe sentry in forks
  sentry-options-validation/src/lib.rs
Due: rustfmt

disalbe sentry in forks (#119)
  sentry-options-validation/src/lib.rs
Due: rustfmt

release: 1.0.8
  .github/workflows/validate-schema.yml
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  clients/python/pyproject.toml
  clients/python/uv.lock
Due: none

test: add fork SIGSEGV reproduction script
  repro_fork_segfault.py
Due: mypy

Path conditions:
  rustfmt: any of: \.rs$
  mypy: any of: \.py$
