Repository getsentry/sentry-options: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, mypy

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
    -   id: check-yaml
    -   id: check-json
    -   id: check-toml
    -   id: check-executables-have-shebangs
    -   id: check-merge-conflict
    -   id: check-case-conflict
    -   id: debug-statements
    -   id: double-quote-string-fixer
    -   id: name-tests-test
    - id: end-of-file-fixer
      exclude_types: [svg]
    - id: trailing-whitespace
      exclude_types: [svg]
    - id: check-added-large-files
      args: ['--maxkb=1024']
-   repo: https://github.com/asottile/reorder-python-imports
    rev: v3.15.0
    hooks:
    -   id: reorder-python-imports
        args: [--py312-plus, --add-import, 'from __future__ import annotations']
-   repo: https://github.com/asottile/add-trailing-comma
    rev: v3.2.0
    hooks:
    -   id: add-trailing-comma
-   repo: https://github.com/asottile/pyupgrade
    rev: v3.20.0
    hooks:
    -   id: pyupgrade
        args: [--py312-plus]
-   repo: https://github.com/hhatto/autopep8
    rev: v2.3.2
    hooks:
    -   id: autopep8
-   repo: https://github.com/PyCQA/flake8
    rev: 7.3.0
    hooks:
    -   id: flake8
-   repo: local
    hooks:
    - id: rustfmt
      name: format rust code
      language: system
      types: [rust]
      # keep edition in sync with Cargo.toml
      # There is no way to run cargo fmt for specific files,
      # rustfmt can do it but doesn't read Cargo.toml.
      # https://github.com/rust-lang/rustfmt/issues/4485
      entry: rustfmt --edition=2024
    - id: mypy
      name: mypy
      entry: .venv/bin/mypy
      language: system
      types: [python]

release: 1.1.0
  .github/workflows/validate-schema.yml
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  clients/python/pyproject.toml
  clients/python/uv.lock
Due: none

allow unknown keys on the validation side
  sentry-options-cli/src/loader.rs
  sentry-options-validation/src/lib.rs
Due: rustfmt

allow unknown keys on the validation side (#139)
  sentry-options-cli/src/loader.rs
  sentry-options-validation/src/lib.rs
Due: rustfmt

release: 1.1.1
  .github/workflows/validate-schema.yml
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  clients/python/pyproject.toml
  clients/python/uv.lock
Due: none

add back mtime check
  sentry-options-validation/src/lib.rs
Due: rustfmt

clippy fixes
  sentry-options-validation/src/lib.rs
Due: rustfmt

shift mtime check
  sentry-options-validation/src/lib.rs
Due: rustfmt

feat(watcher): Add back `mtime` check to avoid unnecessary refreshes (#140)
  sentry-options-validation/src/lib.rs
Due: rustfmt

new docs
  AGENTS.md
  README.md
  benchmarks.md
  docs/architecture.md
  docs/integration-guide.md
  docs/options.md
  docs/setup.md
Due: none

improved formatting in phase 4
  docs/setup.md
  examples/rust/src/main.rs
Due: rustfmt

finished user guide
  docs/options.md
Due: none

setupmd nits
  docs/setup.md
Due: none

architecture update
  AGENTS.md
  README.md
  docs/architecture.md
Due: none

reduce comments in code
  sentry-options-validation/src/lib.rs
Due: rustfmt

skills overhaul
  .claude/skills/add-option/SKILL.md
  .claude/skills/onboard/SKILL.md
  sentry-options-validation/src/lib.rs
Due: rustfmt

chore(docs): Update internal docs (#141)
  .claude/skills/add-option/SKILL.md
  .claude/skills/onboard/SKILL.md
  AGENTS.md
  README.md
  benchmarks.md
  docs/architecture.md
  docs/integration-guide.md
  docs/options.md
  docs/setup.md
  examples/rust/src/main.rs
  sentry-options-validation/src/lib.rs
Due: rustfmt

fix broken doc links
  README.md
  docs/setup.md
Due: none

fix broken doc links (#142)
  README.md
  docs/setup.md
Due: none

feat(validation): allow nested value types in option schemas
  sentry-options-validation/src/lib.rs
  sentry-options-validation/src/namespace-schema.json
Due: rustfmt

update stub generator to support recursive objects
  sentry-options-gen-stubs/__init__.py
  tests/gen_stubs_test.py
Due: mypy

feat(validation): allow nested value types in option schemas (#143)
  sentry-options-gen-stubs/__init__.py
  sentry-options-validation/src/lib.rs
  sentry-options-validation/src/namespace-schema.json
  tests/gen_stubs_test.py
Due: rustfmt, mypy

add docs for new nested properties
  docs/architecture.md
  docs/options.md
Due: none

add docs for new nested properties (#144)
  docs/architecture.md
  docs/options.md
Due: none

release: 1.1.2
  .github/workflows/validate-schema.yml
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  clients/python/pyproject.toml
  clients/python/uv.lock
Due: none

feature flag config map stuff
  examples/apply-configmap.sh
  examples/configs/sentry-options-testing/default/values.yaml
  examples/python/main.py
Due: mypy

scaffold builder pattern
  clients/rust/src/lib.rs
Due: rustfmt

simplify the lifetimes, logic, and fix schema dir bug
  clients/rust/src/lib.rs
Due: rustfmt

add docs
  clients/rust/src/lib.rs
Due: rustfmt

up
  docs/setup.md
Due: none

ci: skip main workflow for doc-only changes
  .github/workflows/main.yml
Due: none

update signature, return error, update deprecated implementations
  clients/rust/src/lib.rs
Due: rustfmt

fix comment
  clients/rust/src/lib.rs
Due: rustfmt

instead of inherit explicity include secret
  .github/workflows/validate-schema.yml
  docs/setup.md
Due: none

hardcode feature flag related stuff
  sentry-options-gen-stubs/__init__.py
  sentry-options/sentry_options/__init__.pyi
  tests/gen_stubs_test.py
Due: mypy

fix(ci): Instead of inheriting, explicitly include secret (#148)
  .github/workflows/validate-schema.yml
  docs/setup.md
Due: none

fix compile error with non exhaustive switch
  clients/python/src/lib.rs
Due: rustfmt

update readmes
  docs/architecture.md
  docs/options.md
  docs/setup.md
Due: none

no more deprecated functions internally
  examples/rust/src/main.rs
Due: rustfmt

add tests
  clients/rust/src/lib.rs
Due: rustfmt

fixes feature flag recognition to work with isset and overrides
  clients/python/python/sentry_options/testing.py
  clients/python/tests/options_override_test.py
  clients/rust/src/lib.rs
  clients/rust/src/testing.rs
  sentry-options-validation/src/lib.rs
Due: rustfmt, mypy
