Repository getsentry/sentry-options: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, mypy

rustfmt:
  name: format rust code
  language: system
  entry: rustfmt --edition=2024

mypy:
  name: mypy
  entry: .venv/bin/mypy
  language: system

fix(cli): Correctly ignore non-yaml files (#62)
  sentry-options-cli/src/loader.rs
Due: rustfmt

release: 0.0.9
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  clients/python/pyproject.toml
Due: none

bump validate-schema version to 0.0.9
  .github/actions/validate-schema/action.yml
Due: none

add version bumping by default to that script
  scripts/bump-version.sh
Due: none

chore(ci): Bump validate-schema version to 0.0.9 and add auto bumping (#63)
  .github/actions/validate-schema/action.yml
  scripts/bump-version.sh
Due: none

chore: Update integration guide (#58)
  docs/integration-guide.md
Due: none

readmeee
  README.md
  docs/integration-guide.md
Due: none

bunch of changes
  .envrc
  .github/workflows/main.yml
  clients/python/Cargo.toml
  clients/python/python/sentry_options/__init__.py
  clients/python/python/sentry_options/testing.py
  clients/python/src/lib.rs
  clients/python/tests/conftest.py
  clients/python/uv.lock
  clients/rust/src/lib.rs
  clients/rust/src/testing.rs
  clients/rust/tests/override_validation.rs
Due: rustfmt, mypy

adds a new string option for the demo
  sentry-options/schemas/sentry-options-testing/schema.json
Due: none

change string to int
  sentry-options/schemas/sentry-options-testing/schema.json
Due: none

go back to string
  sentry-options/schemas/sentry-options-testing/schema.json
Due: none

demo: New string option (#65)
  sentry-options/schemas/sentry-options-testing/schema.json
Due: none

also print the key
  sentry-options-validation/src/lib.rs
Due: rustfmt

remove extraneous string casting
  sentry-options-validation/src/lib.rs
Due: rustfmt

remove leading slash
  sentry-options-validation/src/lib.rs
Due: rustfmt

feat(validation): Improve value validation error message (#66)
  sentry-options-validation/src/lib.rs
Due: rustfmt

release: 0.0.10
  .github/actions/validate-schema/action.yml
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  clients/python/pyproject.toml
Due: none

use manylinux
  .github/workflows/main.yml
Due: none

try this
  .github/workflows/main.yml
Due: none

update craft yml
  .craft.yml
Due: none

add another module
  .github/workflows/main.yml
Due: none

add make and perl
  .github/workflows/main.yml
Due: none

remove build dependencies for cli
  .github/workflows/main.yml
Due: none

only run build on releases
  .github/workflows/main.yml
Due: none

feat(release): Use manylinux (#67)
  .craft.yml
  .github/workflows/main.yml
Due: none

release: 0.0.11
  .github/actions/validate-schema/action.yml
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  clients/python/pyproject.toml
Due: none

Add claude skills
  .claude/skills/add-option/SKILL.md
  .claude/skills/onboard/SKILL.md
Due: none

fix schema validation
  .github/actions/validate-schema/action.yml
Due: none

add allowlist of commands
  .claude/settings.json
Due: none

address some comments
  .claude/skills/add-option/SKILL.md
  .claude/skills/onboard/SKILL.md
  docs/integration-guide.md
Due: none

feat(skills): Add onboard/add-option skills (#68)
  .claude/settings.json
  .claude/skills/add-option/SKILL.md
  .claude/skills/onboard/SKILL.md
  .github/actions/validate-schema/action.yml
  docs/integration-guide.md
Due: none

more precise config map language
  README.md
Due: none

feat(docs): Populate README.md (#64)
  README.md
  docs/integration-guide.md
Due: none

add list support to json schema and python
  clients/python/src/lib.rs
  sentry-options-validation/src/namespace-schema.json
Due: rustfmt

do the whole value schema
  sentry-options-validation/src/lib.rs
Due: rustfmt

update docs
  .claude/skills/add-option/SKILL.md
  .claude/skills/onboard/SKILL.md
  docs/integration-guide.md
Due: none

add some tests, bump version in uv.lock
  clients/python/tests/options_test.py
  clients/python/uv.lock
  sentry-options-validation/src/lib.rs
Due: rustfmt, mypy

update documentation
  .claude/skills/add-option/SKILL.md
  .claude/skills/onboard/SKILL.md
  docs/architecture.md
  docs/integration-guide.md
Due: none

adds a flag to suppress watcher missing directory messages
  clients/rust/src/lib.rs
  sentry-options-validation/src/lib.rs
Due: rustfmt

suppress missing dir errors with env var
  sentry-options-validation/src/lib.rs
Due: rustfmt

Path conditions:
  rustfmt: any of: \.rs$
  mypy: any of: \.py$
