Repository getsentry/sentry-options: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, mypy

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
    -   id: check-yaml
    -   id: check-json
    -   id: check-toml
    -   id: check-executables-have-shebangs
    -   id: check-merge-conflict
    -   id: check-case-conflict
    -   id: debug-statements
    -   id: double-quote-string-fixer
    -   id: name-tests-test
    - id: end-of-file-fixer
      exclude_types: [svg]
    - id: trailing-whitespace
      exclude_types: [svg]
    - id: check-added-large-files
      args: ['--maxkb=1024']
-   repo: https://github.com/asottile/reorder-python-imports
    rev: v3.15.0
    hooks:
    -   id: reorder-python-imports
        args: [--py312-plus, --add-import, 'from __future__ import annotations']
-   repo: https://github.com/asottile/add-trailing-comma
    rev: v3.2.0
    hooks:
    -   id: add-trailing-comma
-   repo: https://github.com/asottile/pyupgrade
    rev: v3.20.0
    hooks:
    -   id: pyupgrade
        args: [--py312-plus]
-   repo: https://github.com/hhatto/autopep8
    rev: v2.3.2
    hooks:
    -   id: autopep8
-   repo: https://github.com/PyCQA/flake8
    rev: 7.3.0
    hooks:
    -   id: flake8
-   repo: local
    hooks:
    - id: rustfmt
      name: format rust code
      language: system
      types: [rust]
      # keep edition in sync with Cargo.toml
      # There is no way to run cargo fmt for specific files,
      # rustfmt can do it but doesn't read Cargo.toml.
      # https://github.com/rust-lang/rustfmt/issues/4485
      entry: rustfmt --edition=2024
    - id: mypy
      name: mypy
      entry: .venv/bin/mypy
      language: system
      types: [python]

revert
  examples/schemas/sentry-options-testing/schema.json
Due: none

add configmap output
  Cargo.lock
  sentry-options-cli/Cargo.toml
  sentry-options-cli/src/loader.rs
  sentry-options-cli/src/main.rs
  sentry-options-cli/src/output.rs
Due: rustfmt

more changes
  sentry-options-cli/src/output.rs
Due: rustfmt

input path, add quotes, skip on master
  .github/actions/validate-schema/action.yml
  .github/workflows/main.yml
Due: none

generate one configmap at a time
  sentry-options-cli/src/main.rs
  sentry-options-cli/src/output.rs
Due: rustfmt

fix linting
  sentry-options-cli/src/main.rs
  sentry-options-cli/src/output.rs
Due: rustfmt

feat(ci): Create composite action for schema validation (#42)
  .github/actions/validate-schema/action.yml
  .github/workflows/main.yml
Due: none

fix linting and add --out option
  sentry-options-cli/src/main.rs
  sentry-options-cli/src/output.rs
Due: rustfmt

attempt to build rust cli artifacts
  .craft.yml
  .github/workflows/main.yml
Due: none

update naming and use 24.04
  .github/workflows/main.yml
Due: none

build rust uses 24.04
  .github/workflows/main.yml
Due: none

another simplification
  sentry-options-cli/src/output.rs
Due: rustfmt

multiplatform
  .craft.yml
  .github/workflows/main.yml
Due: none

move k8s namespace and target validation
  sentry-options-cli/src/loader.rs
  sentry-options-cli/src/output.rs
  sentry-options-validation/src/lib.rs
Due: rustfmt

Add tests
  sentry-options-validation/src/lib.rs
Due: rustfmt

feat(cli): Add configmap output (#43)
  Cargo.lock
  sentry-options-cli/Cargo.toml
  sentry-options-cli/src/loader.rs
  sentry-options-cli/src/main.rs
  sentry-options-cli/src/output.rs
  sentry-options-validation/src/lib.rs
Due: rustfmt

renamed apple binary
  .craft.yml
  .github/workflows/main.yml
Due: none

feat(release): Upload CLI artifacts to github (#44)
  .craft.yml
  .github/workflows/main.yml
Due: none

fix mac builds
  .craft.yml
  .github/workflows/main.yml
Due: none

fix mac builds (#45)
  .craft.yml
  .github/workflows/main.yml
Due: none

release: 0.0.6
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  clients/python/pyproject.toml
Due: none

fix client library loading json that is compatible with cli output
  clients/rust/src/lib.rs
  examples/python/main.py
  examples/values/sentry-options-testing/values.json
  sentry-options-validation/src/lib.rs
Due: rustfmt, mypy

fix python tests
  clients/python/tests/options_test.py
Due: mypy

fix(library): Client library loads json that is compatible with cli output (#46)
  clients/python/tests/options_test.py
  clients/rust/src/lib.rs
  examples/python/main.py
  examples/values/sentry-options-testing/values.json
  sentry-options-validation/src/lib.rs
Due: rustfmt, mypy

sandbox instructions
  examples/Dockerfile
  examples/README.md
  examples/configs/sentry-options-testing/default/values.yaml
Due: none

update the docs
  examples/README.md
Due: none

chore(sandbox): Some instructions for testing in sandbox (#47)
  examples/Dockerfile
  examples/README.md
  examples/configs/sentry-options-testing/default/values.yaml
Due: none

add sentry
  Cargo.lock
  Cargo.toml
  clients/rust/src/lib.rs
  examples/Dockerfile
  examples/rust/src/main.rs
  examples/values/sentry-options-testing/values.json
  sentry-options-cli/src/main.rs
  sentry-options-cli/src/output.rs
  sentry-options-validation/Cargo.toml
  sentry-options-validation/src/lib.rs
Due: rustfmt

properly use generated timestamp per namespace/configmap
  sentry-options-validation/src/lib.rs
Due: rustfmt

Add integration guide
  docs/integration-guide.md
Due: none

make docs a bit more generic
  docs/integration-guide.md
Due: none

initial changes
  .gitignore
  clients/python/Cargo.toml
  clients/python/pyproject.toml
  clients/python/python/sentry_options/__init__.py
  clients/python/python/sentry_options/testing.py
  clients/python/src/lib.rs
  clients/python/tests/conftest.py
  clients/python/tests/options_override_test.py
  clients/python/tests/options_test.py
  clients/rust/Cargo.toml
  clients/rust/src/lib.rs
  clients/rust/src/testing.rs
  examples/python/main.py
  examples/schemas/sentry-options-testing/schema.json
  examples/values/sentry-options-testing/values.json
  sentry-options-validation/src/lib.rs
  sentry-options/values/sentry-options-testing/values.json
Due: rustfmt, mypy

address some comments
  examples/values/sentry-options-testing/values.json
  sentry-options-cli/src/output.rs
Due: rustfmt

some improvements to docs
  docs/integration-guide.md
Due: none

feat(docs): Add integration guide (#49)
  docs/integration-guide.md
Due: none

fix CI errors
  .github/workflows/main.yml
  clients/rust/src/testing.rs
Due: rustfmt

example pipeline
  gocd/pipelines/new-sentry-options.sh
  gocd/pipelines/new-sentry-options.yaml
Due: none

create sandbox target
  examples/configs/sentry-options-testing/sandbox/values.yaml
Due: none

test building rust cli
  .github/workflows/main.yml
Due: none
